<% provide :title do %><%= t("devise_views.users.registrations.new.title") %><% end %>

<h2>Registrieren</h2>

<h4>Herzlichen Glückwunsch!</h4>

<p>Sie haben beide Verifizierungsschritte durchlaufen. Wir werden Ihre Daten jetzt prüfen und Sie per E-Mail benachrichtigen, sobald Ihr Konto mit dem Einwohnermelderegister abgeglichen wurde. Dies kann einige Minuten dauern.</p>

<div class="small-12 medium-6 small-centered margin-top">
  <%= link_to "Zu bamberg-gestalten.de wechseln", root_path, class: "button expanded" %>
</div>
