<div class="row">
  <div class="column">
    <% if embedded? %>
      <% if current_user.administrator? %>
        <% back_url = admin_phase_restrictons_path(projekt_id: @projekt_phase.projekt.id) %>
      <% else %>
        <% back_url = admin_phase_restrictons_path(projekt_id: @projekt_phase.projekt.id) %>
      <% end %>
    <% else %>
      <% back_url = polymorphic_path([@namespace, @projekt_phase.projekt], action: :edit, anchor: "tab-projekt-phases") %>
    <% end %>
    <%= back_link_to back_url %>
  </div>
</div>

<div class="row">
  <div class="column">
    <h1>
      <%= @projekt_phase.title %>
    </h1>
  </div>
</div>
