<div class="row">
  <div class="column">
    <% unless embedded? %>
      <% back_url = polymorphic_path([@namespace, @projekt_phase.projekt], action: :edit, anchor: "tab-projekt-phases") %>
      <%= back_link_to back_url %>
    <% end %>
  </div>
</div>

<% unless embedded? %>
  <div class="row">
    <div class="column">
      <h1 class="admin-projekt-phase-title">
        <%= @projekt_phase.title %>
      </h1>
    </div>
  </div>
<% end %>
