<%= render "custom/admin/projekt_phases/heading" %>

<% unless embedded? %>
  <%= render "custom/admin/projekt_phases/nav_bar" %>
<% end %>

<div class="row">
  <div class="column">
    <%= render "/admin/poll/booth_assignments/search_booths" %>
  </div>
</div>

<div class="row">
  <div class="column">
    <%= render "/admin/poll/booth_assignments/list" %>
  </div>
</div>
