<h2 class="title inline-block"><%= t("admin.dashboard.index.title") %></h2>

<p><%= t("admin.dashboard.index.description", org: setting["org_name"]) %></p>

<% if ApiClient.where(registration_status: :registered).none? %>
  <%= render ApiClients::ConnectToClientComponent.new %>
<% end %>
