<div id="closing-note" class="poll-question" style="display:none">
  <div class="padding">
    <%= poll.closing_note.presence || t("custom.polls.show.closing_note_default_text_html") %>
  </div>
</div>
