<main class="topic-new">
      <%= back_link_to community_path(@community), t("community.show.back",
                                                     community: community_text(@community),
                                                     proposal: community_title(@community)) %>

  <div class="flex-layout">
    <div class="main-column">
      <h1><%= t("community.topic.create") %></h1>
      <div class="resource-page--intro-text">
        Der Themenvorschlag lebt und reift durch die Beteiligung interessierter Menschen. Sie möchten eine Verbesserungsidee zu einem bestimmten Bereich des Themenvorschlags zur Diskussion bereitstellen?<br><br>
        Dann beschreiben Sie mit einem kurzen Titel, worum es Ihnen geht. In einem Anfangstext können Sie einen konkreten Änderungsvorschlag oder eine Frage formulieren. Danach können andere Interessierte dazu kommentieren.<br><br>
        Jeder Beitrag ist wertvoll und ermöglicht es der Initiative, den Themenvorschlag weiterzuentwickeln.<br><br>
      </div>
      <div class="margin-bottom">
        <%= render ResourcePage::BannerComponent.new(resource: @community.proposal || @community.investment, compact: true) %>
      </div>
      <div class="new-card main-content-card">
        <%= render "form_new" %>
      </div>
    </div>
    <aside>
    </aside>
  </div>
</main>
