<div class="js-content-block-template-content">
</div>
<div class="content-block-template-hints">
  <div class="content-block-template-hint">
    Schreiben/generieren Sie Ihren eigenen Inhalt
  </div>
</div>
