<div class="js-content-block-template-content">
  <ul>
    <li class="js-text-editable">Dolor repellendus sequi cumque minima</li>
    <li class="js-text-editable">Dolor illo hic veritatis unde</li>
    <li class="js-text-editable">Consectetur rerum eius a eaque?</li>
  </ul>
</div>
