<div class="js-content-block-template-content">
  <div style="margin-bottom:30px;">
    <div style="border-radius: 7px;border:1px solid #e5e6e9;background:#e7f2fc;align-items:center;flex-wrap:wrap;padding:20px;">
      <div style="display:flex;align-items:start;">
        <% if @image_url.present? %>
          <div style="border-radius: 5px;min-width: 25%;max-width:25%;min-height: 100px;!important;margin-right:35px;">
            <img alt="" src="<%= @image_url %>" style="">
          </div>
        <% end %>
        <div>
          <h3 style="font-size:24px;margin-right:15px;max-width:600px;">Title</h3>

          <p style="font-size:16px;line-height:1.5;">
          Dolor delectus id deleniti debitis consectetur quidem Exercitationem
          inventore accusamus mollitia optio porro? Unde cumque nobis rerum
          modi impedit quaerat.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
