<div class="external-video-player-content-block">
  <div class="js-content-block-template-content" data-enter-ai-mode="true">
    <iframe
        src=""
        frameborder="0"
        class="external-video-player external-video-player-template"
        allowfullscreen>
    </iframe>
  </div>
  <div class="content-block-template-hints">
    <div class="content-block-template-hint">
      You can add Youtube or Vimeo video by providing url
    </div>
  </div>
</div>
