<div class="js-content-block-template-content">
  <div class="resource-items--cards-list">
    <div class="resource-item poll-list-item">
      <p class="resource-item--header js-text-editable">
        Lorem similique recusandae.
      </p>

      <div class="resource-item--image-container">
        <a class="resource-item--image-link">
          <div class="resource-image">
            <img class="resource-image--main" alt="" src="https://via.placeholder.com/298x180">
          </div>
        </a>
      </div>

      <div class="resource-item--content">
        <div class="resource-item--body-wrapper">
          <div class="resource-item--body-and-author">
            <div class="resource-item--body">
              <div class="mb-5"></div>
              <div class="mb-5"></div>
              <div class="mb-5"></div>
              <a class="resource-item--title">Title</a>

              <p class="resource-item--description">
                Adipisicing amet iste officia sunt placeat Necessitatibus sint consectetur odio dolore maxime Aspernatur porro alias ipsa nam eius Dolor ipsum?
              </p>
            </div>
          </div>
          <div class="resource-item--footer ">
            <div class="resource-item--footer-section">
              <a class="button -grey" >Link text</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
