<div class="js-content-block-template-content">
  <div style="display:flex;justify-content:center;margin-bottom:20px;align-items:center;">
    <div style="flex:0 0 auto;margin-right:20px;margin-bottom:20px;">
      <span class="badge success" style="font-size:40px;display:inline-block;vertical-align:middle;">
        <i class="fas fa-check"></i>
      </span>
    </div>
    <div style="flex:1;">
      <h4>Title</h4>
      <p style="margin-top:0;">Dolor tenetur laudantium cumque dolor reiciendis. Facilis temporibus perspiciatis voluptate nisi recusandae Cumque ullam fuga ad beatae illo Ab atque dolore expedita repellat ab! Obcaecati error autem distinctio labore fuga Reiciendis ipsa aspernatur earum numquam quo pariatur aliquid voluptatum. Voluptate at quos debitis doloribus distinctio nihil cum? Voluptate laboriosam porro.</p>
    </div>
  </div>
</div>

