<div class="js-content-block-template-content">
  <div style="display:flex;justify-content:center;margin-bottom:20px;align-items:center;">
    <div style="flex:0 0 auto;margin-right:20px;margin-bottom:20px;">
      <span class="badge warning" style="font-size:40px;display:inline-block;vertical-align:middle;">
        <i class="fas fa-info"></i>
      </span>
    </div>
    <div style="flex:1;">
      <h4>Title</h4>
      <p style="margin-top:0;">Dolor labore temporibus fugit non assumenda cum Dolorem veniam ipsa minus mollitia quam animi dolore nemo Saepe consequuntur repellat minima inventore officiis. Distinctio quidem ex minima assumenda error? Incidunt velit culpa optio doloremque enim exercitationem Vel obcaecati explicabo illum necessitatibus rerum? Illo blanditiis dolor ipsam quos maxime corporis Eos aspernatur</p>
    </div>
  </div>
</div>

