.custom-new-design {
  .proposal-retire-page {
    max-width: $main-column-max-width;
  }

  .proposal-retire-page--proposal-link {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .proposal-retire-page--warning {
    border-radius: 7px;
    margin-bottom: 25px;
  }

  .proposal-retire-page--field {
    margin-bottom: 20px;
  }

  .proposal-retire-page--actions {
    flex-wrap: wrap;
    margin-top: 10px;
  }
}
