<div class="row">
  <div class="small-12 medium-6 large-8 column">
    <%= map_location_form.label attribute %>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-6 large-8 column">
    <%= map_location_form.text_field attribute, label: false %>
  </div>
  <div class="small-12 medium-6 large-4 column">
    <%= map_location_form.submit t("admin.settings.index.update_setting"), class: "button hollow expanded", style: "margin-bottom:0;" %>
  </div>
</div>
