.dropdown-container {
  margin: 0 auto;
  color: #292929;
}

/* Dropdown menu css */
.dropdown-container {
  position: relative;

  .dropdown-toggle {
    font-size: 16px;
    padding-right: 20px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    transition: all ease-in-out 0.3s;
    user-select: none;
  }

  .dropdown-menu {
    width: max-content;
    border-radius: 10px;
    box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.5);
    margin-top: 5px;
    position: absolute;
    right: 0;
    top: 100%;
    display: none;
    background-color: #ffffff;
    z-index: 100;

    a {
      color: inherit;

      &:hover {
        color: inherit;
        text-decoration: none;
      }
    }

    ul {
      list-style: none;
      margin: 0;
      overflow: hidden;
      border-radius: 10px;
      z-index: 10;
      user-select: none;
    }

    li {
      text-decoration: none;
      display: block;
      font-size: 15px;
      transition: all ease-in-out 0.1s;
      padding: 5px 12px;
      cursor: pointer;

      &:hover,
      &:active,
      &:focus {
        background-color: #f2f2f2;
      }
    }
  }
}

.dropdown-toggle {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    border: 5px solid;
    border-top-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    margin-top: -2.5px;
    background-color: rgba(0, 0, 0, 0);
    transition: all ease-in-out 0.2s;
  }
}

.dropdown-menu {
  z-index: 1000;
  position: relative;
  width: 107%;
}

// .dropdown-open {
//   .dropdown-menu.dropdown-active {
//     display: block;
//   }
// }
.dropdown-open {
  .dropdown-menu {
    display: block;
  }
}

.dropdown-container.dropdown-open {
  .dropdown-toggle {

    &:before {
      transform: rotate(-135deg);
    }
  }
}
.dropdown-container {
  margin: 0 auto;
}

/* Dropdown menu css */
.dropdown-container {
  position: relative;

  .dropdown-toggle {
    font-size: 16px;
    padding-right: 20px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    transition: all ease-in-out 0.3s;
    user-select: none;
  }

  .dropdown-menu {
    width: max-content;
    border-radius: 10px;
    box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.5);
    margin-top: 5px;
    position: absolute;
    right: 0;
    top: 100%;
    display: none;
    background-color: #ffffff;
    z-index: 100;

    ul {
      list-style: none;
      margin: 0;
      overflow: hidden;
      border-radius: 10px;
      z-index: 10;
      user-select: none;
    }

    li {
      text-decoration: none;
      display: block;
      font-size: 15px;
      transition: all ease-in-out 0.1s;
      padding: 5px 12px;
      cursor: pointer;

      &:hover,
      &:active,
      &:focus {
        background-color: #f2f2f2;
      }
    }
  }
}

.dropdown-toggle {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    border: 5px solid;
    border-top-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    margin-top: -2.5px;
    background-color: rgba(0, 0, 0, 0);
    transition: all ease-in-out 0.2s;
  }
}

.dropdown-menu {
  z-index: 10;
  position: relative;
  width: 107%;
}

// .dropdown-open {
//   .dropdown-menu.dropdown-active {
//     display: block;
//   }
// }
.dropdown-open {
  .dropdown-menu {
    display: block;
  }
}

.dropdown-container.dropdown-open {
  .dropdown-toggle {

    &:before {
      transform: rotate(-135deg);
    }
  }
}
