.new-custom-design {
  input.light-input {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    border-bottom: 1px solid #cfcfcf;
    padding-left: 0;
    padding-bottom: 0;
    height: 2em;
  }

  .form-error {
    font-size: 14px;
  }
}
