.new-custom-design {
  .layout-left-column {
    width: 100%;
    margin-right: 20px;
  }

  .layout-main-column {
    display: flex;
    justify-content: space-between;
  }

  @media screen and (max-width: $big-tablet-viewport-start) {
    .layout-main-column {
      padding: 0 20px;
    }
  }

  @media screen and (max-width: $small-tablet-viewport-start) {
    .layout-left-column {
      margin-right: auto;
    }
  }

  @media (max-width: $mobile-viewport-start) {
    .layout-left-column {
    }
  }
}

