.new-custom-design {
  .new-card {
    background: white;
    border-radius: 10px;
    border: 1px solid #d9d9d9b3;
    margin-bottom: 15px;
    color: $main-text-color;
    font-size: 14px;
    padding: 20px 25px;
  }

  .new-main-content-card {
    padding: 35px 50px;
  }

  @media (max-width: 1365px) {
    .new-main-content-card {
      padding: 25px 35px;
    }
  }
}
