<%= render "/admin/poll/polls/poll_header" %>

<div id="poll-resources">
  <%= render "/admin/poll/polls/subnav" %>
  <%= render "/admin/poll/booth_assignments/search_booths" %>

  <%= render "/admin/poll/booth_assignments/list" %>
</div>
