// Styling tiles for proposals, debates and polls

.polls-index {
  .poll {
    background: #e7f2fc;

    .image-container {
      background: #e7f2fc;
    }
  }
}


// Styling cards

.card a:hover:not(.see-all) {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.card a {
  color: #fff;
  background: $brand;
  font-size: 22pt;
  text-decoration: none;
}

.card a:hover img, .card a:hover img {
  transform: none !important;
}


.card p {
  padding: 0.5em !important;
  font-weight: bold;
  margin-bottom: 0;
}
