// Styling tiles for proposals, debates and polls

.debates-index,
.proposals-index {
  .panel {
    background: rgba(141, 191, 66, .05);
  }
}

.polls-index {
  .poll {
    background: #e7f2fc;

    .image-container {
      background: #e7f2fc;
    }
  }
}
