// colors 

$brand:                         #073e8e;
$violetred:                     #ce003e;
$azure:                         #008ebf;
$green:                         #227501;


// fonts

body,
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	font-family: 'Source Sans Pro', Tahoma, Helvetica, sans-serif !important;
}


