// colors 

$brand:                         #073e8e;
$violetred:                     #ce003e;

h1 {
  font-size: 30pt !important;
}

h2 {
  font-size: 24pt !important;
}

.card a:hover img, .card a:hover img {
  transform: none !important;
}
