#navigation_bar,
#navigation_bar li.flyout-item {
  background: $violetred;
}

.top-bar .menu > li a {
  color: $brand;
  text-decoration: none;
}

.dropdown.menu > li.is-active > a {
  color: $brand !important;
  text-decoration: none;
  font-weight: normal;
}

.menu-icon.dark:hover::after,
.menu-icon.dark::after {
  background: $brand;
  box-shadow:0 7px 0 $brand, 0 14px 0 $brand;
}

.subnavigation, 
.subnavigation a {
  color: $brand;
  text-decoration: none;
}

.subnavigation a,
.flyout-item-name {
  color: #fff !important;
}

@media screen and (max-width: 39.9375em) {
  .top-bar-title {
    display: none;
  }
}