// Fonts

@font-face {
  font-family: "Quicksand";
  src: font-url("custom/Quicksand.ttf");
}

@font-face {
  font-family: "DroidSans";
  src: font-url("custom/DroidSans.ttf");
}

@font-face {
  font-family: "DroidSans-Bold";
  src: font-url("custom/DroidSans-Bold.ttf");
}

h1, h2, h3, h4, h5, h6 {
  color: $brand;
  font-family: 'DroidSans' !important;
}

p, p a, div {
  font-family: 'Quicksand' !important;
}
