.footer, footer {
  background: #473f41;
}

footer {

  p, div {
    color: $white !important;
    font-size: 13px !important;
  }

  a {
    color: $white !important;
  }

  .subfooter.row {
    margin-top: 1rem;
  }
}
