.footer {
  background: #ebebeb;
}

#contact-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 30px;
  background-color: #0091c8;
  color: #fff;
  padding: 10px 30px;

  a {
    text-decoration: none;

    &:hover {
      color: #fff;
    }
  }

  @media (min-width: 40rem) {
    font-size: 18px;
  }
}
