@media screen and (min-width: 40em) {
  .home-page .row {
    max-width: 80%;
  }
}

@media screen and (min-width: 64em) {
  .home-page .row {
    max-width: 60%;
  }

  .home-page header > .row, 
  .home-page #navigation_bar > .row,
  .home-page footer > .row {
    max-width: 75rem;
  }
}

@media screen and (min-width: 75em) {
  .home-page .row {
    max-width: 55rem;
  }
}