// Update header styles

@media screen and (min-width: 40em) {
  header.main-header,
  .top-bar {
    background: $white !important;
  }
}


// Update menu styles

@media screen and (min-width: 40em) {
  .subnavigation ul.main-menu {
    justify-content: center;
  }

  .subnavigation ul.main-menu .content-items,
  .subnavigation ul.main-menu .account-admin-items {
    flex-grow: 0;
  }

  .account-admin-items .top-level-item > li {
    height: 100%;
  }

  .subnavigation ul.main-menu li.nav-element.top-level-item > .projekt-name > a,
  .subnavigation ul.main-menu li.nav-element.top-level-item > .projekt-name,
  .subnavigation ul.main-menu li.nav-element.top-level-item > a {
    color: $white;
  }

}

span.icon-notification {
  top: -3px;
}
