@media screen and (min-width: 40em) {
  .subnavigation ul.main-menu {
    min-height: 44px;
  }
}

.top-bar .menu > li a {
  text-decoration: none;
}

.dropdown.menu > li.is-active > a {
  text-decoration: none;
  font-weight: normal;
}

.menu-icon.dark:hover::after,
.menu-icon.dark::after {
  background: $brand;
  box-shadow:0 7px 0 $brand, 0 14px 0 $brand;
}

.subnavigation, 
.subnavigation a {
  text-decoration: none;
}

.subnavigation a.home-items-icon {
  display: none;
}

@media screen and (min-width: 40em) {
  #responsive-menu {
    display: none !important;
  }

  .account-admin-items .account-icon,
  .account-admin-items .admin-icon {
    top: 11px;
  }

  .account-admin-items li.nav-element.top-level-item > ul.nav-flyout-block {
    top: 44px !important;
  }

  .subnavigation a.home-items-icon {
    display: inline-block;
    width: 19px;
  }

  .home-icon {
    top: 11px;
    right: 0;
    position: absolute;
  }

  .content-items {
    display: flex;
    flex-wrap: wrap;
  }

  .account-admin-items {
    display: flex;
    justify-content: space-between;

    .top-level-item {
      padding-left: 1.5em;
    }

    .account-items-icon,
    .admin-items-icon {
      width: 19px;
    }
  }
}
