.proposal .supports .button-support {
  background: $violetred;
  color: $white;
}

.proposal .supports .button-support:hover,
.proposal .supports .button-support:active {
  background: lighten($violetred, 20%)
}
