.auth-form {
	padding-bottom: 4em;

  p.info-details {
    font-style: italic;
  }

  p, a, .checkbox, ul {
    font-size: 0.875rem;
  }

  .location-radio-button [type='radio'] {
    margin-bottom: 0;
  }
}

.user-date-of-birth {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  label {
    flex-basis: 100%;
  }

  select {
    flex-basis: 32%;
  }
}

.user-document {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  .user-document-type {
    flex-basis: 32%;
  }

  .user-document-number {
    flex-basis: 66%
  }
}

.sign-up-progress-bar {
  margin-top: 2em;
  margin-bottom: 3em;

  ol {
    display: flex;
    justify-content: space-evenly;
    background-color: #F6F6F6;
    margin-left: 0;
  }

  li {
    display: inline-block;
    flex-basis: 33.3%;
		text-align: center;
    text-transform: uppercase;
		font-weight: bold;
    background-color: #F6F6F6;
    padding: 1px 5px;
    

    span {
			display: inline-block;
			background-color: #fff;
			border-radius: 50%;
			margin-right: 5px;
			text-align: center;
			width: 20px;
			height: 20px;
			font-size: 15px;
      font-weight: bold;
      color: $brand;
      line-height: 1.5;
    }
  }

  li.active {
    background-color: $brand;
    color: $white;
  }
}

ol.numbered-list-big {
  counter-reset: item;
  list-style-type: none;

  &>li {
    display: block;
    position: relative;
  }
  
  &>li:before {
    content: counter(item) " ";
    counter-increment: item;
    position: absolute;
    background-color: $brand;
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-weight: bold;
    left: -22px;
    top: 2px;
    text-align: center;
    line-height: 1.3;
  }
}
