.typeform-wrapper {
  background-color: rgb(239, 237, 237)
}

.jumbo {
  margin-bottom: 0;
}

.welcome-hashtag {
  color: $black;
  margin-top: 50px;
  display: inline-block;
  font-style: italic;
}

.win-logos img,
.partner-logos img {
  margin: .75em .5rem;
}

.win-logos,
.partner-logos {
  padding-top: 5em;
  padding-bottom: 5em;

  h2 {
    font-weight: normal;
  }
  
  p {
    margin: 0 auto;
    margin-bottom: 40px;
  }
}

.partner-logos {
  background-color: #EFEDED;

  h2 {
    margin-bottom: 40px;
  }
}

footer {
  color: $white;

  a, a:hover, a:active, a:focus {
    color: $white;
  }
  .social-share-full {
    a, a:hover, a:active, a:focus {
      color: initial;
    }
  }
}

.footer {
  margin-top: 0;
  background-color: #707070;

  a, a:hover, a:active, a:focus {
    color: $white;
  }
}

span.hashtag-text {
  color: #212AE7;
}

.typeform-widget {
  height: 843px;

  @media only screen and (min-width: 450px) {
    height: 775px;
  }

  @media only screen and (min-width: 635px) {
    height: 850px;
  }

  @media only screen and (min-width: 1065px) {
    height: 900px;
  }
}
