.home-page {
  font-size: 16px;
  color: #3c3a3a;

  h3 {
    font-family: 'Quicksand' !important;
    font-size: 16px;
    text-transform: uppercase;
    color: $brand;
  }


  .bg-green, .bg-regular {
    padding: 2em 0;
    margin: 0 auto;
  } 

  .bg-green {
    background-color: #dce4b8;
  }
}

.home-page .jumbo {
  color: $white;

  h1 {
    font-family: 'DroidSans' !important;
    font-weight: bold;
		color: $white;
		margin-bottom: .5em;
    line-height: 1.25;
  }

  h2 {
    font-family: 'DroidSans-Bold' !important;
    font-weight: bold;
    font-size: 40px;
    color: $brand;
  }

  p, a {
    font-family: 'Quicksand' !important;
    font-size: 16px;
  }

	.jumbo-message {
    width: 90%;
    padding-top: 50px;
    padding-bottom: 50px;
	}

  @media only screen and (min-width: 40em) {

    .jumbo-message {
			width: 75%;
			padding-top: 75px;
			padding-bottom: 75px;
    }
  }

  @media only screen and (min-width: 64em) {

    .jumbo-message {
			width: 40%;
			padding-top: 100px;
			padding-bottom: 100px;
    }
  }

  @media only screen and (min-width: 75em) {

    .jumbo-message {
			padding-top: 125px;
			padding-bottom: 125px;
    }
  }
}
