<h2><%= t("custom.admin.projekt_phases.progress_bars.new_block_title") %></h2>

<%= link_to t("custom.admin.projekt_phases.progress_bars.new_button"),
            polymorphic_path([@namespace, progressable, ProgressBar.new(progressable: progressable)], action: :new),
            class: "button" %>
