<%= back_link_to deficiency_report_management_official_answer_templates_path %>

<div class="row expanded full-width">
  <div class="small-12 column">
    <h2><%= t("custom.admin.deficiency_reports.official_answer_templates.new.title") %></h2>
  </div>
</div>

<%= render "form", official_answer_template: @official_answer_template %>
