.js-code-edit-mode-controlls {
  display: none;
  align-items: center;
  gap: 10px;
}

.code-editor-container {
  width: 100%;
  position: relative;
  margin-top: 15px;
  border: 1px solid #dcdcdc;
  border-radius: 7px;
  overflow: hidden;
  background: #fff;

  .ace_editor {
    min-height: 420px;
  }

  .ace_info {
    background-image: none;
  }

  .ace_tooltip {
    padding: 0;
    border: 0;
    box-shadow: 0;

    span:has(.ace_info) {
      display: none !important;
      visibility: hidden;
    }
  }

  .ace_tooltip:has(.ace_error) {
    padding: 3px 4px;
    border: 1px solid gray;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  }
}

.site-code-editor-modal--content {
  display: flex;
  flex-direction: column;
  width: 90vw;
  max-width: $main-column-max-width;
  max-height: calc(100vh - (140px + 3vh));
}

.site-code-editor-modal--header {
  flex-shrink: 0;
  padding-bottom: 10px;
}

.site-code-editor-modal--title {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 600;
}

.site-code-editor-modal--inner {
  flex: 1;
  overflow: auto;
  padding-right: 20px;
}

.site-code-editor-modal--editor-container {
  border: 1px solid #dcdcdc;
  border-radius: 7px;
  overflow: hidden;
  margin-bottom: 15px;

  .ace_editor {
    min-height: 350px;
  }
}

.site-code-editor-modal--actions {
  margin-top: 10px;
}
