.studio-edit-popup {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  padding: 15px;
  box-shadow: 3px 3px 12px 4px rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 300;
  border-radius: 10px;
}

.studio-edit-popup.-above-anchor {
  transform: translateY(calc(-100% - 8px));
}

.studio-edit-popup--label {
  font-size: 16px;
  font-weight: bold;
}

.studio-edit-popup textarea {
  width: 100%;
}
