body.-preview-mode {
  .sdg-goal-tag-list input:not(:checked) + label,
  .js-add-tag-link:not(.selected),
  .js-toggle-section-with-setting.-deactivated,
  .js-studio-hide-on-preview
  {
    display: none !important;
  }

  .js-update-projekt-form {
    pointer-events: none;
  }

  .custom-content-block-wrapper.-code-edit-mode {
    .custom-content-block {
      display: block !important;
    }
  }

  .custom-content-block-wrapper.-html-edit-mode {
    .js-html-edit-mode-original-content {
      display: block !important;
    }

    .ck-editor {
      display: none !important;
    }

    textarea {
      display: none !important;
    }
  }
}

.custom-page.-preview-mode {
  .custom-content-block {
    // margin-bottom: 35px;
  }
}
