.custom-collapse--head {
  position: relative;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
  width: 100%;
  margin-bottom: 5px;
  z-index: 5;
  min-height: 30px;

  &:active:focus {
    outline: none;
  }

  // &:hover {
  //   &:before {
  //     border-radius: 10px;
  //     background-color: #5a5a5a14;
  //     content: '';
  //     position: absolute;
  //     display: block;
  //     top: -5px;
  //     bottom: -5px;
  //     right: -10px;
  //     left: -10px;
  //     z-index: 1;
  //   }
  // }

  h3 {
    margin-bottom: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }

  .icon-chevron-down {
    margin-left: 20px;
    margin-right: 10px;
    font-size: 25px;
  }
}

.custom-collapse {
  > .custom-collapse--body {
    padding-top: 15px;
    display: none;
    overflow: hidden;
  }

  &.-opened {
    > .custom-collapse--body {
      display: block;
    }

    > .custom-collapse--head > .icon-chevron-down {
      transform: rotate(180deg);
    }
  }
}
