<div class="projekt-event-item-calendar">
  <div class="projekt-event-item-calendar--start-datetime projekt-event-item-calendar-day">
    <div class="projekt-event-item-calendar-dayname">
      <%= projekt_event.datetime.strftime('%b').upcase %>
    </div>
    <div class="projekt-event-item-calendar-daynumber">
      <%= projekt_event.datetime.strftime('%d') %>
    </div>
  </div>
  <% if projekt_event.end_datetime.present? && projekt_event.datetime.to_date != projekt_event.end_datetime.to_date %>
    <div class="projekt-event-item-calendar--enddatetime">
      <div class="projekt-event-item-calendar--separator">
        -
      </div>
      <div class="projekt-event-item-calendar-day">
        <div class="projekt-event-item-calendar-dayname">
          <%= projekt_event.end_datetime.strftime('%b').upcase %>
        </div>
        <div class="projekt-event-item-calendar-daynumber">
          <%= projekt_event.end_datetime.strftime('%d') %>
        </div>
      </div>
    </div>
  <% end %>
</div>
