.u-hidden {
  display: none;
}

.u-visibility-hidden {
  visibility: hidden;
}

.u-flex-column {
  flex-direction: column;
}

.mb-5 {
  margin-bottom: 5px;
}

.u-width-100, .u-full-width {
  width: 100%;
}

.flex, .u-flex {
  display: flex;

  &.no-wrap {
    flex-wrap: nowrap;
  }

  &.wrap {
    flex-wrap: wrap;
  }

  &.gap-10 {
    gap: 10px;
  }

  &.gap-20 {
    gap: 20px;
  }

  &.gap-30 {
    gap: 30px;
  }
}

.justify-between, .u-justify-between {
  justify-content: space-between;
}

.items-center, .u-items-center, .u-align-center {
  align-items: center;
}

.u-align-start {
  align-items: flex-start;
}

.u-justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.d-none, .custom-new-design .d-none {
  display: none;
}

.margin-top-half {
  margin-top: $line-height / 2;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-bottom-half {
  margin-bottom: $line-height / 2;
}

.margin-left-20 {
  margin-left: 20px;
}

.margin-top-0-force {
  margin-top: 0 !important;
}

.u-margin-bottom-5 {
  margin-bottom: 5px;
}

.margin-bottom-10, .u-margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.flex-centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-margin {
  margin: 0;
}

.u-max-w-50 {
  max-width: 50%;
}

.d-flex, .u-flex {
  display: flex;
}

.d-flex-justify-right {
  display: flex;
  justify-content: flex-end;
}

.d-flex-justify-space-between {
  justify-content: space-between;
}

.u-gap-10 {
  gap: 10px;
}

.u-gap-5 {
  gap: 5px;
}

.d-flex-start, .u-flex-start {
  justify-content: flex-start;
}

.d-flex-align-center, .u-flex-align-center {
  align-items: center;
}

.show-on-desktop {
  @media screen and (max-width: 650px) {
    display: none;
  }
}

.show-on-mobile {
  display: none;

  @media screen and (max-width: 650px) {
    display: block;
  }
}
