.admin-content {
  flex: 80%;
  padding: 1.5rem;
}
.admin {
  .images {
    background: #e7f2fc;
    padding-top: 2rem;

    input {
      display: none;
    }
  }

  .icons-selector {
    column-count: 10;
  }
}

.officing-offline-ballots {
  @media screen and (min-width: 75em) {
    .budget-heading::before,
    .jumbo-budget::after {
      left: 0;
      right: 0;
    }
  }
}

.show-projekt-dates-in-frontend-checkbox {
  margin-bottom: 20px;

  /* input[type=checkbox] { */
  /*   margin-top: 0; */
  /* } */
}


// Options

.option-group-title {
  font-weight: bold;
  margin-bottom: 10px;
}

// Config block

.config-block {
  background-color: $white;
  padding: 2rem;
  border: 1px solid #afafaf;
  margin-bottom: 3rem !important;

  .image .attachment-errors > .js-image-attachment {
    display: none;
  }
}

// Table

.bold-on-hover {
  transition: font-weight 0.2s ease-in-out;

  &:hover {
    font-weight: bold;
  }
}

// Projekt managers

.projekt-manager-assignments {
  .projekt-manager-name {
    font-weight: bold;
  }

  .projekt-manager-permission-checkbox {
    font-weight: normal;
    cursor: pointer;

    input[type=checkbox] {
      margin-bottom: 0.2rem;
    }
  }
}

// Formular answers

.admin-content .formular-follow-up-letters {
  margin-bottom: 3.5rem;

  .formular-follow-up-letter {
    padding: 0.5rem 0;
    border-bottom: 1px solid grey;
    position: relative;

    .letter-subject,
    .letter-recipients,
    .emails-sent,
    .controls {
      display: inline-block;
      margin-right: 1rem;
    }

    .controls {
      @include admin-action-icons;
    }
  }
}

.admin {
  .api-clients-connect-to-client {
    input[type="submit"] {
      background-color: #14679e;
      color: white;
    }
  }
}

// Control icons

.edit-icon,
.destroy-icon {
  cursor: pointer;
  margin-left: 0.5rem;

  &:hover {
    text-decoration: none;
  }
}

.edit-icon {
  &::before {
    content: "\f044";
    font-weight: normal;
    font-family: "Font Awesome 5 Free";
  }
}

.destroy-icon {
  &::before {
    content: "\f2ed";
    font-weight: normal;
    font-family: "Font Awesome 5 Free";
    color: #cc4b37;
  }
}

// Phases

.restriction-title {
  font-size: 24px;
  font-weight: bold;

  span.restriction-hint {
    display: block;
    font-size: small;
    font-weight: normal;
    position: relative;
    top: -5px;
  }
}
