h5 {
  font-size: 18px;
}

.text-content a {
  font-weight: bold;
  color: #32837d;
  text-decoration: underline;
}

#user_terms_of_service {
  margin-bottom: 0;
  margin-top: 7px !important;
}

@media screen and (min-width: 40em) {
  #navigation_bar .top-level-item > .flyout-item-name > a,
  #navigation_bar .top-level-item > .flyout-item-name  {
    font-weight: bold !important;
  }
}

.custom-new-design { 
  .custom-content-block-body,
  #page-content,
  .resource-page--description,
  .auth-page-template--body {
    a:not(.button) {
      font-weight: bold;
      color: #37847f;
      text-decoration: underline;
    }
	}

  a.button.-grey,
  a.button.-purple {
    background-color: #37847f;
    color: #fff;

    &:hover {
      background-color: #37847f;
      color: #fff;
    }
  }

  a.button.-orange {
    background-color: #ee7444;
    color: #fff;

    &:hover {
      background-color: #ee7444;
      color: #fff;
    }
  }

  .resource-item--header {
    background-color: #37847f !important;
    color: #fff !important;
  }

  footer {
    a {
      color: #fff !important;
    }

    h1.logo {
      margin-top: 0;
    }
  }

  .auth-page-template--body {
    form .button {
      background-color: #37847f;
    }

    .button.-green {
      background-color: #ee7444;

      &:hover {
        background-color: #ee7444;
      }
    }
  }

  .milestone-item {
    &::after {
      background-color: #ee7444 !important;
    }

    .milestone-item--status {
      background-color: #37847f;
    }
  }
}

.cli-service-konto {
  &__subtitle {
    font-size: 1.2rem;

    &--accented {
      font-weight: bold;
      text-align: center;
    }
  }

  &__subdiv {
    margin-bottom: 1.5rem;

    &--two-columns {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__badge {
    width: 48%;
    background-color: #37847f;
    padding: 15px;
    border-radius: 5px;
    position: relative;
    color: #fff !important;
    font-weight: normal !important;
    text-decoration: none !important;
    min-width: 240px;
    margin-bottom: 20px;

    img {
      width: 45%;
      position: absolute;
      top: 0;
      right: 5px;
    }
  }

  &__cta {
    text-align: center;
    clear: right;
    margin-top: 40px;
    border-radius: 7px;
    font-size: 20px;
    padding: 10px;
    background-color: $accent;
    border: 1px solid #222;
  }
}
