h5 {
  font-size: 18px;
}

.text-content a {
  font-weight: bold;
  color: #32837d;
  text-decoration: underline;
}

#user_terms_of_service {
  margin-bottom: 0;
  margin-top: 7px !important;
}

@media screen and (min-width: 40em) {
  #navigation_bar .top-level-item > .flyout-item-name > a,
  #navigation_bar .top-level-item > .flyout-item-name  {
    font-weight: bold !important;
  }
}

.custom-new-design { 
  .custom-content-block-body, #page-content, .resource-page--description { 
    a {
      font-weight: bold;
      color: #37847f;
      text-decoration: underline;
    }
	}

  a.button.-grey {
    background-color: #37847f;
    color: #fff;

    &:hover {
      background-color: #37847f;
      color: #fff;
    }
  }

  .resource-item--header {
    background-color: #37847f !important;
    color: #fff !important;
  }
}
