// Menu variables

$dark:                                            #565a5c;
$white:                                           #fff;
$olive:                                           #818f45;


$top-level-menu-item-text-color:                  $white;
$top-level-menu-background-color:                 $olive;
$flyout-item-text-color:                          $white;
$flyout-item-bg-color:                            $olive;
$flyout-block-border-color:                       $white;
$flyout-item-divider-color:                       lighten($flyout-block-border-color, 5%);
$flyout-item-projekt-modules-links-color:         $flyout-item-text-color;


$flyout-item-line-height:                         1.5rem;
$flyout-item-projekt-min-height:                  60px;

$responsive-menu-text-color:                      $white;
$responsive-menu-background-color:                $olive;

$module-index-panel-background:                   #b5d7a51f;
