// colors 

$violetred:                     #ce003e;
$azure:                         #41D0E6;
$green:                         #227501;


// fonts

body,
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	font-family: 'Source Sans Pro', Tahoma, Helvetica, sans-serif !important;
}


// Menu variables

$top-level-menu-item-text-color:                  $white;
$top-level-menu-background-color:                 $violetred;

$flyout-item-text-color:                          $brand;
$flyout-item-bg-color:                            $white;

$flyout-block-border-color:                       #DCDCDC;
$flyout-item-divider-color:                       lighten($flyout-block-border-color, 5%);
$flyout-item-projekt-modules-links-color:         $brand;

$flyout-item-line-height:                         1.5rem;

$responsive-menu-text-color:                      $white;
$responsive-menu-background-color:                $violetred;
