// setup_project
// Dropdown

// setup_project
// Dropdown


.subnavigation a.is-active {
  color: #fff;
}

.main-nav,
.drop-nav {
  background: $dropdownbackground;
}
.main-nav {
  float: left;
}
  .main-nav > li {
    float: left;
  }
  .main-nav li:first-child {
    border-left: none;
  }
  .main-nav a {
    color: $dropdowntextcolor;
    display: block;
    text-decoration: none;
  }
.drop,
.flyout {
  position: relative;
  z-index: 1000;
}

.drop-nav li a,
.flyout-nav li a {
  padding-left: 20px;
}

// width of the list items
.drop-nav li {
  border-bottom: 1px solid $dropdownbordercolor;
  width: $dropdownwidth;
}
.drop:hover > .drop-nav,
.flyout:hover > .flyout-nav {
  display: block;
}

.flyout:hover > .flyout-nav-right {
  display: block;
}

.flyout-nav {
  left: 100%;
  top: 0;
}

.flyout-nav-right li {
  width: 225px;
}


.flyout:hover a,
.flyout-nav {
  background: $dropdownbackground;
}
.subnavigation {
  background: $dropdownbackground;
}
#alert {
  z-index: 3000;
  position: absolute;
}
#notice {
  z-index: 3000;
  position: absolute;
}
.dropdown {
  z-index: 3000;
  position: relative;
}

.filter-toggle-arrow {
  position: absolute;
  right: 10px;
  top: 18px;

  width: 0;
  height: 0;
  margin: 0 auto;
  border-left: 7px solid $white;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  cursor: pointer;
}

#responsive-menu ul {
  padding-right: 0;
}

#responsive-menu .drop-nav li {
  width: 100%
}

#responsive-menu .subnavigation a {
  width: 70%;
}



#navigation_bar {

  li.nav-element-projekt:hover > ul.flyout-projekts {
    display: block;
  }

  ul.flyout-projekts {
    left: 100%;
    top: -1px;
    display: none;
    position: absolute;
  }

  li.static-projekt > ul.flyout-projekts {
    left: 0;
    top: 100%;
  }

  li {
    position: relative;
    z-index: 1;
  }

  li.flyout-projekt {
    width: 300px;
    background: $brand;
    padding-left: 1em;
    border-top: 1px solid $brand;
    border-bottom: 1px solid $brand;
    display: flex;
    justify-content: space-between;
  }

  li.flyout-projekt ~ li.flyout-projekt {
    border-top: none;
  }

  .projekt-name {
    font-weight: bold;
    position: relative;
    line-height: 3rem;
  }

  li.flyout-projekt > .projekt-name {
    width: 67%;
  }

  .projekt-modules-icons {
    padding-top: 15px;
    padding-right: 1em;
    display: flex;
    justify-content: flex-end;

    .module-icon-link {
      display: inline-block;
      line-height: initial;
    }

    .module-icon {
      width: 20px;
    }
  }
}
