// setup_project
// Dropdown
.main-nav,
.drop-nav {
  background: $dropdownbackground;
}
.main-nav {
  float: left;
}
  .main-nav > li {
    float: left;
  }
  .main-nav li:first-child {
    border-left: none;
  }
  .main-nav a {
    color: $dropdowntextcolor;
    display: block;
    text-decoration: none;
  }
.drop,
.flyout {
  position: relative;
  z-index: 1000;
}
.drop-nav,
.flyout-nav {
  position: absolute;
  display: none;
  z-index: 2000;
}

.drop-nav li a,
.flyout-nav li a {
  padding-left: 20px;
}

// width of the list items
.drop-nav li {
  border-bottom: 1px solid $dropdownbordercolor;
  width: $dropdownwidth;
}
.drop:hover > .drop-nav,
.flyout:hover > .flyout-nav {
  display: block;
}

.flyout:hover > .flyout-nav-right {
  display: block;
}

.flyout-nav {
  left: 100%;
  top: 0;
}

.flyout-nav-right {
  left: -225px;
  top: 0;
  position: absolute;
  display: none;
  width: 225px;
}


.flyout-nav-right li {
  width: 225px;
}


.flyout:hover a,
.flyout-nav {
  background: $dropdownbackground;
}
.subnavigation {
  background: $dropdownbackground;
}
#alert {
  z-index: 3000;
  position: absolute;
}
#notice {
  z-index: 3000;
  position: absolute;
}
.dropdown {
  z-index: 3000;
  position: relative;
}
