section p {
  font-size: 1.25em;
  line-height: 2;
}

main {
  margin-top: -1.5em;
  padding-top: 1.5em;
}

// Header

header {
  background: $white;
  border-bottom: none;
}

.heading-image {
  width: 80%;
  max-width: 35em;
  margin: 3em auto;
}

// Menu

.subnavigation {
  background: $brand;
}

.subnavigation a,
.projekt-name {
  color: $white;
  font-family: 'MyriadPro BoldIt'
}

.subnavigation a:hover {
  color: $azure;
}

.main-menu-items .drop-nav,
.main-menu-items .flyout-nav {
  font-size: initial;
}

#responsive-menu .center-menu {
  margin-top: 10px;
}

#responsive-menu .subnavigation  .main-menu-items li {
}

.top-bar .float-right {
  margin-top: 10px;
}

.top-bar {
  display: block;
}

.top-bar {
  height: 48px;
}

// Help header

.help-header .input-group {
  margin-bottom: none;
}


// Video

.play-button {
  width: 0;
  height: 0;
  margin: 0 auto;
  border-left: 100px solid white;

  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  transform: translate(0);
  cursor: pointer;
}


.video-container {
  margin-top: -1.5rem;

  iframe {
    height: 315px;
  }
}

.video-placeholder {
  background: rgba(0, 0, 0, 0.3) url(asset_path('video-placeholder.jpg')) no-repeat 90% 50%;
  background-blend-mode: darken;
  margin: auto;
  height: 670px;
  width: 100%;
  padding-top: 300px;
}


// Text blocks

.intro,
.questions,
section .content {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.intro h1,
.questions h1 {
  color: $brand;
  text-align: center;
}

.intro-content {
  padding-right: 4em;
}

.content-image {
  display: none;
}


section h1 {
  font-family: 'MyriadPro BoldIt' !important;
  font-size: 3.5em;
  padding-top: 1.5em;
  padding-bottom: .75em;
  line-height: normal;
}

section .container {
  position: relative;
  padding-bottom: 3em;
}

section .questions-content button {
  margin: 2em auto;
  display: block;
}

section .green, 
section .container.green:before, 
section .green button:before,
section .green button:after, 
button.green {
  background-color: $azure;
}

section .red,
section .container.red:before, 
section .red button:before,
section .red button:after, 
button.red {
  background-color: $brand;
}

section .purple,
section .container.purple:before, 
section .purple button:before,
section .purple button:after {
  background-color: $purple;
}

section .questions,
section .container.questions:before, 
section .questions button:before,
section .questions button:after {
  background-color: #fff;
}

.green, .red, .purple {
  color: white;
}

.green .content p, 
.red .content p  {
  color: black;
}

section button {
  padding: .5em 2em;
  margin: 2em 0;
  margin-left: -0.4em;
  position: relative;
  font-family: 'MyriadPro BoldIt';
  font-size: 1.5em;
  cursor: pointer;
}

section button:focus {
  outline: none;
}

section button:before,
section button:after {
  content: '';
  position: absolute;
  background-color: #fff;
  display: block;
  width: 2em;
  height: 4.5em;
  transform: rotate(10deg);
  right: -1.5em;
  top: -.75em;
  margin-left: -.55em;
  cursor: initial;
}

button:before {
  left: -1em;
}


// Footer

.footer {
  border-top: 1px solid #99A0BB;
  background: #fff;
  position: relative;
  min-height: initial;

  .subfooter-links {
    text-align: center;
  }

  .ribbon {
    margin-top: 2.5em;
    height: 2.5em;
    background: $brand;
  }

}

// Media queries

@media (min-width: 640px) {

.video-container {
  iframe {
    height: 550px;
  }
}

  .top-bar {
    height: 0;
  }

  .center-menu {
    width: 100% !important;
  }

  .center-menu .main-menu-items {
    display: flex;
    justify-content: center;
    font-size: 1.25em;
  }

  .drop-nav,
  .flyout-nav {
    position: absolute;
    display: none;
    z-index: 2000;
  }

  ul.flyout-nav li {
    padding-left: 0;
  }

  .flyout-nav-right {
    left: -225px;
    top: 0;
    position: absolute;
    display: none;
    width: 225px;
  }

  section button {
    padding: .5em 2em;
    margin: 2em 0;
    font-size: 2em;
    white-space: nowrap;
  }

  .footer-logo {
    float: left;

    img {
      width: 80%;
    }
  }
}


@media (min-width: 1050px) {

  .video-container {
    iframe {
      height: 620px;
    }
  }

  section .container.green:before, 
  section .container.red:before,
  section .container.purple:before, 
  section .container.questions:before {
    content: '';
    position: absolute;
    background-color: #fff;
    display: block;
    width: 45em;
    height: 75em;
    transform: rotate(45deg);
    transform-origin: top left;
    z-index: -1;
  }

  section .container.green:before  {
    background-color: $azure;
  }

  section .container.red:before {
    background-color: $brand;
  }

  section .container.purple:before {
    background-color: $purple;
  }

  section .container.questions:before { 
    background-color: $white;
  }

  section .container.questions:before {
    height: 60em;
    width: 15em;
  }

  section .container.green:after, 
  section .container.red:after,
  section .container.purple:after {
    content: '';
    position: absolute;
    background-color: #fff;
    display: block;
    bottom: 0;
    right: 0;
    width: 7em;
    height: 5em;
    transform: rotate(-45deg);
    transform-origin: top right;
  }

  .content-image {
    display: block;
    position: absolute;
    left: -7em;
    top: 3em;
    width: 18em;
  }

  section .content {
    margin-left: 12em;
    margin-right: 4em;
  }

  .intro,
  .questions,
  section .content {
    width: initial;
  }
  
  .intro-content a:hover {
    text-decoration: none;
  }



  section .container {
    margin-left: 12em;
  }

}


@media (min-width: 1350px) {

  section .questions-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  section .questions-content button {
    margin: 1em 2em;
  }

}



@media (min-width: 1600px) {

  section .container.green:before, 
  section .container.red:before,
  section .container.purple:before {
    height: 90em;
  }

  section .container.questions:before {
    height: 50em;
  }
}
