.livesubmit-checkbox {
  [aria-pressed] {
    @include switch;
    margin-bottom: 0;
  }

  [aria-pressed][aria-pressed=true] {
    background-color: $dt-base;
  }
}

input[type="date"] {
  background: #f8f8f8;
  height: $input-height;
  margin-bottom: rem-calc(16);
}
