main {
  margin-top: -25px;
  padding-top: 25px;
}

body>header, .wrapper>header, .top-bar {
  background-color: $white;
  color: $dark;
}


.top-bar {
  margin-top: 1rem;
  margin-bottom: 2rem;
  @media(min-width: 40em) {
    align-items: flex-end;
  }

  h2.header-title {
    line-height: 1em;
    text-transform: uppercase;
    font-size: 28px;
    color: $dark;
    margin-bottom: 1em;
    margin-top: 1em;

    span {
      font-weight: 100;
    }
  }

  .top-bar-title {
    margin-right: 0;
    margin-bottom: 0;

    a img {
      max-width: 200px;
      height: auto;

      @media (min-width: 40em) {
        max-width: 400px;
      }
    }
  }

  .account-buttons {
  }

  .sign-in-button,
  .sign-up-button {
    display: inline-block;
    padding: 0.25rem 2em;
    background-color: #ECE4E1;
    color: $black;
  }

  .sign-up-button {
    background-color: $black;
    color: $white;
    margin-left: 0.25rem;
  }
}


.debate .panel, .proposal .panel, .investment-project .panel, .budget-investment .panel, .legislation .panel, .communities-show .panel, .process-summary .debate-summary, .process-summary .proposal-summary, .process-summary .annotation-summary {
  background-color: $module-index-panel-background;
}

.margin-top-25 {
  margin-top: 2.5em !important;
}


// Fix for Reveal modal bug

html.is-reveal-open body {
  overflow-y: visible !important;
}
