.plz-consent {

  margin-top: 1rem;

  input[type='checkbox'] {
    margin: 0;
    margin-right: 0.5rem;
  }

  span.checkbox {
    display: inline;
  }

  label[for=''] {
    margin-bottom: .5rem;
  }
}
