// Admin pages

.projekt-text-field {
  position: relative;

  [type='text'],
  select {
    width: 90%;
  }
  
}

.projekt-link {
  position: absolute;
  top: 5.5em;
  font-size: 0.85em;
}

form select {
  background: #f8f8f8;
  height: 3rem;
  margin-bottom: 1rem;
}

// Form pages

#projekt-tags {
  margin: 1em 0;
}

#projekt-tags-selector {

  display: flex;

  .projekt-tags-column {
    flex: 1;
  }

  .projekt-tags-column:not(:first-child) {
    .projekt-group {
      display: none;
    }
  }

  .projekt-group {
    border-left: 1px solid #ECF2FB;
    padding-left: 1.2em;
	}


  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #878787;
  }

  .checkmark {
    position: absolute;
    top: 18px;
    left: 0;
    height: 14px;
    width: 14px;
    border: 1.5px solid #C6C6C6;
    border-radius: 2px;
  }

	input:checked ~ .checkmark:before {
		display: block;
	}

	input:checked ~ .checkmark {
    background: #06408E;
    border: 1.5px solid #06408E;
	}

	.checkmark:before {
		content: "";
		position: absolute;
		display: none;
		left: 3px;
		top: 1px;
		width: 4px;
		height: 7px;
		border: 1.5px solid #fff;
		border-width: 0 2px 2px 0;
		transform: rotate(45deg);
	}

	label {
		display: block;
		margin-bottom: 0;
		position: relative;
		padding-left: 24px;
		cursor: pointer;
		user-select: none;

    font-size: 1em;
    font-weight: initial;
    line-height: 1.5rem;

		padding-top: 1em;
    padding-bottom: 1em;

    color: #878787;
    font-weight: 600;
    font-size: 0.875em;
	}

  label:after {
    content: '';
    position: absolute;
    right: 18px;
    top: 41%;
    width: 7px;
    height: 7px;
    border: 1.5px solid #C6C6C6;
		border-width: 0 2px 2px 0;
		transform: rotate(-45deg);
  }

	input[type='checkbox'] {
	  position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}
}


