// Update styles of standard search form


#proposals,
#debates,
.top-links,
#deficiency_reports {
  #search_form {

    float: right;
    margin-right: 1em;

    .input-group {
      margin-bottom: 0;
    }

    input {
      height: 2.25rem !important;
      margin-bottom: 0;
      margin-right: 0;
      width: 100%;
    }

    .input-group-button {
      padding-bottom: 0;
    }

    .input-group-button button {
			background: #dee0e3;
			border: 1px solid #ccc;
			border-left: 0;
			color: #222;
			height: 2.25rem;
			line-height: 2.25rem;
			padding-top: 0;
    }
  }
}

// Elastic search form

.top-links {
  #search_form {
    margin: .5rem 0 .5rem 1rem;

    input,
    .input-group-button button {
      height: 1.75rem !important;
      line-height: 1.75rem;
    }
  }
}

// Elastic search

.search-modules {
  flex-wrap: wrap;

  li {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

.search-result {
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-start;
  .search-result-type-icon{
    font-size: 1.1em;
    background-color: #004a83;
    color: #fff;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    margin-right: 10px;
    line-height: 25px;
    text-align: center;
    margin-top: 5px;
  }

  .search-result-title{
    font-size: 1.5rem;
    .hlt1{
      font-style: normal;
      font-weight: 600;
    }
  }
  .search-result-body{
    p{
      margin-bottom: 0;
    }
    .hlt1{
      font-style: normal;
      font-weight: 600;
      background-color: #ff0!important;
    }
  }
}
.big-search-label{
  width: 50%;
}
.search-modules{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;

  li{
    display: block;
    justify-content: flex-start;
    margin-right: 20px;
    &.selected{
      font-weight: 600;
    }
  }
}

// Projekts in Elastic search page

.label-highlighted {
  font-weight: bold;
}


// Popup search form

#navigation_bar {
  position: relative;
}

.elasticSearchModal {
  display: none;
  position: absolute;
  top: 130px;
  margin: auto;
  width: 380px;
  left: 0;
  right: 0;
  z-index: 2002;

  #search_form input {
    width: 380px;
    background: $white;
    border: none;
    box-shadow: none;
    border-radius: 3px 0 0 3px;
    height: 2.75rem !important;

    &:focus {
      transition: none;
      border: none;
    }
  }

  #search_form .input-group-button {
  
    button {
      background: $white;
      border: none;
      border-radius: 0 3px 3px 0;
      height: 2.75rem;

      &:focus {
        outline: none;
      }
    }

    &:focus {
      outline: none;
    }

  }
}

main.grayed-out {
  position: relative;

  &::before {
    content: "";
    background: $black;
    opacity: .7;
    width: 100vw;
    height: calc(100% + 336px);
    position: absolute;
    z-index: 2001;
    top: 0;

    @media screen and (min-width: 75em) {
      left: calc(-50vw + 37.5rem)

    }
  }
}

a#js-main-menu-search-button {
  outline: none;
}

.admin-content {
  #search_form {
    width: 40%;

    .input-group-button {
      display: none;
    }
  }
}
