.social-share-button {
  .ssb-icon {
    margin-bottom: 0.25rem;
    vertical-align: middle;
    transition: background-color 100ms ease;

    &:hover,
    &:focus {
      color: #fff;
      text-decoration: none;
    }
  }

  .ssb-whatsapp {
    background: #43d854;

    &::before {
      content: "P";
      font-family: "icons";
    }

    &:hover,
    &:focus {
      background: #58dc67;
    }
  }

  .ssb-facebook {
    background: #3b5998;

    &:hover,
    &:focus {
      background: #4568b2;
    }
  }

  .ssb-twitter {
    background: #000;

    &:hover,
    &:focus {
      background: #2e2e2e;
    }
  }

  .ssb-telegram {
    background: #2e87ca;

    &:hover,
    &:focus {
      background: #08c;
    }
  }

  .ssb-email {
    background: #f00;

    &::before {
      content: "L";
      font-family: "icons";
    }

    &:hover,
    &:focus {
      background: #f33;
    }
  }

  .ssb-linkedin {
    background: #0e76a8;

    &::before {
      content: "#";
      font-family: "icons";
    }

    &:hover,
    &:focus {
      background: #1083bb;
    }
  }

  .ssb-copy-link {
    background: #000;
    color: #fff;

    &::before {
      content: "\f0c1";
      font-family: "Font Awesome 5 Free";
      font-weight: bold;
    }

    &:hover,
    &:focus {
      background: #2e2e2e;
    }
  }
}







///////

.share-supported {
  text-align: left;

  .social-share-button {
    display: inline;
  }

  .ssb-whatsapp, 
  .ssb-twitter, 
  .ssb-facebook, 
  .ssb-telegram,
  .ssb-email,
  .ssb-linkedin {
    width: $line-height * 1.4 !important;
  }
}

.social-share-full .social-share-button {
  display: inline;
}

.featured-proposals {

  .social-share-full {
    margin-bottom: 1rem;
  }

  .share-supported {

    .ssb-whatsapp,
    .ssb-twitter,
    .ssb-facebook,
    .ssb-telegram,
    .ssb-email,
    .ssb-linkedin {
      background: none;
      color: $text;
      height: rem-calc(33) !important;


      &::before {
        font-size: rem-calc(18);
        line-height: rem-calc(33);
      }
    }

    .social-share-button .ssb-icon::before {
       vertical-align: baseline;
    }
  }
}

@include breakpoint(medium) {

  .button.button-telegram,
  .ssb-telegram {
    display: inline-block !important;
  }
}
