.ssb-icon {
  margin-bottom: 0.25rem;
  vertical-align: middle;
  transition: background-color 100ms ease;

  &:hover,
  &:focus {
    color: #fff;
    text-decoration: none;
  }
}

.ssb-facebook {
  background: #3b5998;

  &:hover,
  &:focus {
    background: #4568b2 !important;
  }
}

.ssb-twitter {
  background: #000;

  &:hover,
  &:focus {
    background: #2e2e2e !important;
  }
}

.ssb-telegram {
  background: #2e87ca;

  &:hover,
  &:focus {
    background: #458dc4 !important;
  }
}

.ssb-linkedin {
  @include has-fa-icon(linkedin-in, brands);
  background: #0077b5;

  &:hover,
  &:focus {
    color: white;
    background-color: #238ac0 !important;
  }
}

.ssb-email {
  @include has-fa-icon(envelope, solid);
  background: #f00;

  &:hover,
  &:focus {
    color: white !important;
    background: #eb5454 !important;
  }
}

.ssb-copy-link {
  @include has-fa-icon(link, solid);
  background: #000;
  color: #fff;

  &:hover,
  &:focus {
    color: white !important;
    background-color: #2e2e2e !important;
  }
}

.share-supported {
  text-align: left;

  .social-share-button {
    display: inline;
  }

  .ssb-whatsapp,
  .ssb-twitter,
  .ssb-facebook,
  .ssb-telegram,
  .ssb-email,
  .ssb-linkedin {
    width: $line-height * 1.4 !important;
  }
}

.social-share-full .social-share-button {
  display: inline;
}

.social-share-button .ssb-icon::before {
  content: "" !important;
  background: currentcolor;
  display: inline-block;
  height: 1em;
  width: 1em;
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}
