// Welcome page

.home-page {

  .card-homepage {
    position: relative;

    img {
      position: relative;
      z-index: -1;
    }

    h3 {
      position: absolute;
      bottom: 5px;
      left: 25px;
      color: $white;
      text-decoration: none;
      font-weight: normal;
      margin-bottom: 0;
      text-transform: uppercase;
      font-size: 1rem;
    }

    a {
      background: linear-gradient(to top, rgba(0,0,0,1) 0%,rgba(0,0,0,0.2) 40%);
      display: inline-block;
    }
  }

  h3.title.card-title {
    border-bottom: none;
  }

  .background-header {
      display: none;
  }

  .jumbo {
  
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: $welcomebgcolor;
    background-position: center top;

    @media only screen and (max-width: 550px) {
      height: 300px;

      .welcome-hashtag {
        margin-top: 20px;
      }

      span {
        font-size: rem-calc(25);
      }

      h1 {
        color: $welcomeheadline;
        font-size: rem-calc(35);
        font-weight: 700;
        line-height: rem-calc(40);
      }

      .lead {
        color: $welcomelead;
        font-size: rem-calc(20);
        font-weight: 700;
        line-height: rem-calc(25);
      }

      .button {
        background: $welcomebuttonbg;
        color: $welcomebuttontext;
      }
    }

    @media only screen and (min-width: 550px) and (max-width: 639px) {
      height: 350px;

      .welcome-hashtag {
        margin-top: 30px;
      }

      span {
        font-size: rem-calc(30);
      }

      h1 {
        color: $welcomeheadline;
        font-size: rem-calc(30);
        font-weight: 700;
        line-height: rem-calc(30);
      }

      .lead {
        color: $welcomelead;
        font-size: rem-calc(20);
        font-weight: 700;
        line-height: rem-calc(30);
      }

      h1, p {
        color: $white;
      }
    }

    @media only screen and (min-width: 640px) and (max-width: 768px) {
      height: 400px;

      span {
        font-size: rem-calc(35);
        font-weight: 300;
        line-height: rem-calc(30);
      }

      h1 {
        color: $welcomeheadline;
        font-size: rem-calc(30);
        font-weight: 700;
        line-height: rem-calc(30);
      }
    }

    @media only screen and (min-width: 550px) {
      p {
        display: block;
      }
    }

    @media only screen and (min-width: 640px) {
    }

    @media only screen and (min-width: 768px) and (max-width: 1280px) {
      height: 450px;
      background-position: center 35%;
      
      span {
        // color: $welcomespan;
        font-size: rem-calc(40);
        font-weight: 300;
        line-height: rem-calc(30);
      }

      h1 {
        font-size: rem-calc(40);
      }
    }

    @media only screen and (min-width: 1280px) and (max-width: 1900px) {
      height: 600px;
      background-position: center 35%;

      span {
        // color: $welcomespan;
        font-size: rem-calc(45);
        font-weight: 300;
        line-height: rem-calc(30);
      }

      h1 {
        color: $welcomeheadline;
        font-size: rem-calc(40);
        font-weight: 700;
        line-height: rem-calc(40);
      }

      .lead {
        color: $welcomelead;
        font-size: rem-calc(30);
        font-weight: 700;
        line-height: rem-calc(30);
      }

      .button {
        background: $welcomebuttonbg;
        color: $welcomebuttontext;
      }
    }

    @media only screen and (min-width: 1900px) {
      height: 800px;
      background-position: center 35%;

      span {
        // color: $welcomespan;
        font-size: rem-calc(45);
        font-weight: 300;
        line-height: rem-calc(30);
      }

      h1 {
        color: $welcomeheadline;
        font-size: rem-calc(40);
        font-weight: 700;
        line-height: rem-calc(40);
      }

      .lead {
        color: $welcomelead;
        font-size: rem-calc(30);
        font-weight: 700;
        line-height: rem-calc(30);
      }

      .button {
        background: $welcomebuttonbg;
        color: $welcomebuttontext;
      }
    }
  }
}
