// Welcome page

.home-page {

  h3.title.card-title {
    border-bottom: none;
  }

  .background-header {
      display: none;
  }

  .jumbo {
  
    background-position: $welcomebgposition;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: $welcomebgcolor;



    @media only screen and (max-width: 550px) {
      h1 {
        color: $welcomeheadline;
        font-size: rem-calc(35);
        font-weight: 700;
        line-height: rem-calc(40);
      }

      .lead {
        color: $welcomelead;
        font-size: rem-calc(20);
        font-weight: 700;
        line-height: rem-calc(25);
      }

      .button {
        background: $welcomebuttonbg;
        color: $welcomebuttontext;
      }
    }

    @media only screen and (min-width: 550px) and (max-width: 639px) {
      h1 {
        color: $welcomeheadline;
      }

      .lead {
        color: $welcomelead;
        font-size: rem-calc(20);
        font-weight: 700;
        line-height: rem-calc(30);
      }

      .button {
        background: $welcomebuttonbg;
        color: $welcomebuttontext;
      }
    }

    @media only screen and (min-width: 640px) and (max-width: 768px) {
      h1 {
        color: $welcomeheadline;
      }

      .lead {
        color: $welcomelead;
        font-size: rem-calc(20);
        font-weight: 700;
        line-height: rem-calc(30);
      }

      .button {
        background: $welcomebuttonbg;
        color: $welcomebuttontext;
      }
    }

    @media only screen and (min-width: 768px) and (max-width: 1280px) {
      h1 {
        color: $welcomeheadline;
        font-weight: 700;
      }

      .lead {
        color: $welcomelead;
        font-size: rem-calc(25);
        font-weight: 700;
        line-height: rem-calc(30);
      }

    }

    @media only screen and (min-width: 1280px) and (max-width: 1900px) {
      h1 {
        color: $welcomeheadline;
      }

      .lead {
        color: $welcomelead;
        font-size: rem-calc(30);
        font-weight: 700;
        line-height: rem-calc(30);
      }

      .button {
        background: $welcomebuttonbg;
        color: $welcomebuttontext;
      }
    }

    @media only screen and (min-width: 1900px) {
      span {
        color: $welcomespan;
        font-weight: 300;
      }

      h1 {
        color: $welcomeheadline;
      }

      .lead {
        color: $welcomelead;
        font-size: rem-calc(30);
        font-weight: 700;
        line-height: rem-calc(30);
      }
    }
  }
}

@media only screen and (max-width: 1280px) {
  .welcometitle {
    font-size: 25px;
    color: $welcometitle;
  }
}

@media only screen and (min-width: 1280px) {
  .welcometitle {
    font-size: 30px;
    color: $welcometitle;
  }
}
