// Welcome page

.home-page {

  h3.title.card-title {
    border-bottom: none;
  }

  .background-header {
      display: none;
  }

  .jumbo {
  
    background-position: $welcomebgposition;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: $welcomebgcolor;
    position: relative;
    z-index: 1;


    .jumbo-message {
      font-family: strawfordbold;
      position: absolute;
      bottom: 10%;
      color: $white;
      width: 90%
    }



    @media only screen and (max-width: 550px) {
      height: 550px;
      padding-top: 20px;
      padding-bottom: rem-calc(1);

      span {
        display: none;
      }

      h1 {
        color: $welcomeheadline;
        font-size: rem-calc(35);
        font-weight: 700;
        line-height: 1.2;
      }

      .lead {
        color: $welcomelead;
        font-size: rem-calc(20);
        font-weight: 700;
        line-height: rem-calc(25);
      }

      .button {
        background: $welcomebuttonbg;
        color: $welcomebuttontext;
      }
    }

    @media only screen and (min-width: 550px) and (max-width: 639px) {
      height: 550px;
      padding-top: 20px;
      padding-bottom: rem-calc(1);

      .jumbo-message {
        width: 90%;
      }

      span {
        display: none;
      }

      h1 {
        color: $welcomeheadline;
        font-size: rem-calc(30);
        font-weight: 700;
        line-height: 1.2;
      }

      .lead {
        color: $welcomelead;
        font-size: rem-calc(20);
        font-weight: 700;
        line-height: rem-calc(30);
      }

      .button {
        margin-top: 320px;
        background: $welcomebuttonbg;
        color: $welcomebuttontext;
      }
    }

    @media only screen and (min-width: 640px) and (max-width: 768px) {
      height: 550px;
      padding-top: 20px;
      padding-bottom: rem-calc(150);

      .jumbo-message {
        width: 90%;
      }

      span {
        display: none;
      }

      h1 {
        color: $welcomeheadline;
        font-size: rem-calc(30);
        font-weight: 700;
        line-height: 1.2;
      }

      .lead {
        color: $welcomelead;
        font-size: rem-calc(20);
        font-weight: 700;
        line-height: rem-calc(30);
      }

      .button {
        background: $welcomebuttonbg;
        color: $welcomebuttontext;
      }
    }

    @media only screen and (min-width: 768px) and (max-width: 1280px) {
      height: 550px;
      background-position: center 80%;
      padding-top: $welcometextpositionmedium;

      .jumbo-message {
        width: 75%;
      }
      
      span {
        color: $welcomespan;
        font-size: rem-calc(15);
        font-weight: 300;
        line-height: rem-calc(30);
      }

      h1 {
        color: $welcomeheadline;
        font-size: rem-calc(38);
        font-weight: 700;
        line-height: 1.2;
      }

      .lead {
        color: $welcomelead;
        font-size: rem-calc(25);
        font-weight: 700;
        line-height: rem-calc(30);
      }

      .button {
        background: $welcomebuttonbg;
        color: $welcomebuttontext;
      }
    }

    @media only screen and (min-width: 1280px) and (max-width: 1900px) {
      height: 740px;
      padding-top: $welcometextpositionmedium;
      background-position: center 65%;

      .jumbo-message {
        width: 40%;
      }

      span {
        color: $welcomespan;
        font-size: rem-calc(15);
        font-weight: 300;
        line-height: rem-calc(30);
      }

      h1 {
        color: $welcomeheadline;
        font-size: rem-calc(40);
        font-weight: 700;
        line-height: 1.2;
      }

      .lead {
        color: $welcomelead;
        font-size: rem-calc(30);
        font-weight: 700;
        line-height: rem-calc(30);
      }

      .button {
        background: $welcomebuttonbg;
        color: $welcomebuttontext;
      }
    }

    @media only screen and (min-width: 1900px) {
      height: 800px;
      padding-top: $welcometextpositionlarge;
      background-position: center 65%;

      .jumbo-message {
        width: 30%;
      }

      span {
        color: $welcomespan;
        font-size: rem-calc(20);
        font-weight: 300;
        line-height: rem-calc(30);
      }

      h1 {
        color: $welcomeheadline;
        font-size: rem-calc(40);
        font-weight: 700;
        line-height: 1.2;
      }

      .lead {
        color: $welcomelead;
        font-size: rem-calc(30);
        font-weight: 700;
        line-height: rem-calc(30);
      }

      .button {
        background: $welcomebuttonbg;
        color: $welcomebuttontext;
      }
    }
  }
 }


// Homepage
@media only screen and (max-width: 550px) {
  .welcometitle {
    font-size: 25px;
    color: $welcometitle;
  }
}

@media only screen and (max-width: 1280px) {
  .welcometitle {
    font-size: 25px;
    color: $welcometitle;
  }
}

@media only screen and (min-width: 1280px) {
  .welcometitle {
    font-size: 30px;
    color: $welcometitle;
  }
}


.home-page {
  h3.card-title {
    border-bottom: none;
    margin-bottom: 1rem;
  }

  .card-homepage {
    margin-top: 0.5rem;

    a {
      text-decoration: none;
    }

    h3 {
      background: #8599B3;
      color: $white;
      padding: 0.5rem;
      margin-top: 0.5rem;
      font-size: 1rem;
      font-weight: normal;
    }
  }
}
