<div class="frame-phase-edit-navigation">
  <button class="button">Abbrechen</button>
  <div>
    <div style="display:flex" class="frame-phase-navigate-settings">
      <button class="button">
        Zurück
      </button>
      <button type="submit" form="phase-edit-form" class="button">Weiter</button>
    </div>
    Projektphase sofort hinzufügen
  </div>
</div>
