<div class="frame-phase-edit-navigation">
  <div class="frame-phase-navigate-settings">
    <% if @projekt_phase.present? %>
      <%= link_to "Zurück zum Projekt", @projekt_phase.projekt.frame_url, class: "" %>
    <% end %>

    <div class='arrow-controls'>
      <%= link_to(previous_page_url, id: "left-arrow-control", class: "js-left-arrow-control") do %>
        <i class="fas fa-chevron-circle-left"></i>
      <% end %>
      <%= link_to(next_page_url, id: "right-arrow-control", class: "js-left-arrow-control") do %>
        <i class="fas fa-chevron-circle-right"></i>
      <% end %>
    </div>
  </div>
  <% if @show_title %>
    <% if @projekt_phase.present? %>
      <div class="column">
        <h1 class="admin-projekt-phase-title">
          <%= @projekt_phase.title %>
        </h1>
      </div>
    <% end %>
  <% end %>
</div>
