.custom-collapse--head {
  position: relative;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
  width: 100%;
  margin-bottom: 5px;
  z-index: 5;
  min-height: 30px;
  margin-bottom: 0;

  &:active:focus {
    outline: none;
  }

  // &:focus {
  //   outline: 3px solid #ffbf47 !important;
  //   outline-style: inset;
  // }

  // &:hover {
  //   &:before {
  //     border-radius: 10px;
  //     background-color: #5a5a5a14;
  //     content: '';
  //     position: absolute;
  //     display: block;
  //     top: -5px;
  //     bottom: -5px;
  //     right: -10px;
  //     left: -10px;
  //     z-index: 1;
  //   }
  // }

  h3 {
    margin-bottom: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }

  .icon-chevron-down {
    margin-left: 20px;
    margin-right: 10px;
    font-size: 25px;
  }
}

.custom-collapse--head.-with-hover-background {
  &:hover::before {
    content: "";
    position: absolute;
    top: -10px;
    bottom: -10px;
    left: -10px;
    right: -10px;
    z-index: -1;
    border-radius: 10px;
    background-color: #f0f0f0;
  }
}

.custom-collapse.-with-head-background {
  > .custom-collapse--head {
    padding: 12px 16px;
    border-radius: 10px;
    background-color: #f0f0f0;

    &:hover {
      background-color: #e9e9e9;
    }

    &:active {
      background-color: #e3e3e3;
    }

    .icon-chevron-down {
      margin-right: 0;
    }
  }

  > .custom-collapse--body {
    padding: 15px 16px;
  }
}

.custom-collapse {
  > .custom-collapse--body {
    padding-top: 15px;
    display: none;
    overflow: hidden;
  }

  &.-opened {
    > .custom-collapse--body {
      display: block;
    }

    > .custom-collapse--head > .icon-chevron-down {
      transform: rotate(180deg);
    }
  }
}
