.projekt-page--admin-topbar {
  position: fixed;
  top: var(--topbar-height);
  left: 0;
  right: 0;
  z-index: 15;
  width: 100%;
  border-top: 1px solid #c5c5c6;
  border-bottom: 1px solid #c5c5c6;
  padding: 7px 10px;
  background-color: white;

  .button {
    margin: 0;
    padding: 6px 12px !important;
  }
}

.projekt-page--admin-topbar--inner {
  margin: auto;
  width: 100%;
  max-width: var(--tobar-max-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.projekt-page--admin-topbar-left,
.projekt-page--admin-topbar-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.projekt-page--admin-topbar-left {
}

.projekt-page--admin-topbar-right {
}

@media (max-width: $small-tablet-viewport-start) {
  .projekt-page--admin-topbar--inner {
    flex-wrap: wrap;
    gap: 10px;
  }

  .projekt-page--admin-topbar-right {
    width: 100%;
    flex-wrap: wrap;
    order: 3;
  }
}
