.custom-new-design {
  .sidebar-projekt-phases-title {
    margin-bottom: 10px;
  }

  .sidebar-projekt-phase .sidebar-projekt-phase-status {
    width: 10px;
    height: 10px;
    min-width: 10px;
    margin-top: 7px;
    margin-right: 12px;
  }

  .sidebar-projekt-phase-details {
    color: #207868 !important;
  }

  .sidebar-projekt-phase:not(:last-child) > .sidebar-projekt-phase-details {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      height: 100%;
      border-left: 2px solid;
      left: -18px;
      top: 15px;
      z-index: 1;
      color: #207868 !important;
    }
  }

  .sidebar {
    li.projekt-navigator::before {
      content: '';
      width: 8px;
      height: 8px;
      top: 7px;
      background: $dt-base;
      border-radius: 50%;
    }

    li.projekt-navigator {
      padding-left: 6px;
      font-size: 16px;
    }
  }

  .projekt-sidebar {
    .button {
      margin-bottom: 10px;

      i.fa, i.fas {
        margin-right: 10px;
      }
    }

    @media (max-width: $mobile-viewport-start) {
      margin: auto;

      .sidebar {
        display: block !important;
        min-width: unset;
        max-width: 420px;
        margin: auto;
      }
    }
  }

  .custom-page--banner {
    display: flex;
    justify-content: space-between;
    // width: 1365px;
    width: calc(100% + 120px);
    height: 400px;
    border-radius: 10px;
    background: $brand-lighter 0% 0% no-repeat padding-box;
    position: absolute;
    left: -60px;
    top: 0;
    right: 0;
    padding: 0 60px;
    color: $dark;

    @media(max-width: $big-tablet-viewport-start) {
      padding: 0 30px;

      h1 {
        margin-bottom: 10px;
      }
    }

    @media(max-width: $small-tablet-viewport-start) {
      padding: 0 30px;
    }

    @media(max-width: $mobile-viewport-start) {
      padding: 0 20px;
    }
  }

  .custom-page--banner-wrapper {
    position: relative;
    width: 100%;
    height: 400px;
    margin: auto;
    margin-bottom: 70px;

    @media(max-width: 1150px) {
      margin-bottom: 30px;
    }

    @media(max-width: $small-tablet-viewport-start) {
      margin-bottom: 20px;
    }
  }

  .custom-page--banner-title {
    font-size: 32px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0 !important;
  }

  .custom-page--banner-title-wrapper {
    margin-bottom: 10px;
  }

  .custom-page--banner-description {
    font-size: 22px;
  }

  .custom-page--banner-text-section-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 90px;
    padding-bottom: 40px;
    max-width: 50%;
    flex-grow: 1;

    @media(max-width: $big-tablet-viewport-start) {
      padding-top: 25px;
      padding-bottom: 25px;
    }

    @media(max-width: $small-tablet-viewport-start) {
      padding-top: 25px;
    }

    @media(max-width: $mobile-viewport-start) {
      padding-top: 35px;
      padding-bottom: 130px;
      max-width: 100%;
    }
  }

  .custom-page--banner-text-section {
    max-width: 90%;
  }

  .custom-page--banner-image {
    // width: 54%;
    min-width: 620px;
    position: relative;
    bottom: -50px;
    height: 390px !important;
    cursor: zoom-in;

    .image-maximize-button {
      visibility: hidden;
      opacity: 0;
      transition: all 100ms ease;
    }

    &:hover {
      .image-maximize-button {
        visibility: visible;
        opacity: 1;
      }
    }

    & > .resource-image {
      border-radius: 10px;
    }

    @media(max-width: 1150px) {
      min-width: 434px;
      height: 273px !important;
    }

    @media(max-width: 780px) {
      min-width: 310px;
      height: 195px !important;
    }

    @media(max-width: $mobile-viewport-start) {
      min-width: 250px;
      height: 250px !important;
      position: absolute;
      bottom: -130px;
      width: calc(100vw - 40px);
    }
  }

  .custom-page--banner-breadcrumbs {
    .custom-breadcrumbs .breadcrumbs-item, .custom-breadcrumbs .breadcrumbs-divider {
      font-size: 16px;
      color: $brand;
    }
  }

  .footer-phases-filter-subnav {
    span {
      &:before {
        left: -20px;
        top: 2px;
        color: $brand;
      }
    }
  }


  @media (max-width: 1365px) {
    .custom-page--banner {
      width: 100%;
      margin: auto;
      // max-width: 1245px;
      left: 0;
    }
  }

  // @media (max-width: $small-tablet-viewport-start) {
  //   .custom-page--banner {
  //     padding-left: 20px;
  //     padding-right: 20px;
  //   }
  // }

  @media (max-width: $mobile-viewport-start) {
    .custom-page--banner {
      flex-direction: column;
      // height: 100%;
      position: relative;
      top: initial;
      left: initial;
      right: initial;
      bottom: initial;
      height: auto;
      border-radius: 0;
      margin-bottom: 160px;
      padding-left: 20px;
      padding-right: 20px;
      width: 100vw;
      margin-left: (-$mobile-side-padding);
    }

    .custom-page--banner-wrapper {
      height: auto;
    }

    .custom-page--banner-text-section {
      max-width: 100%;
    }

    .custom-page--banner-description {
      font-size: 16px;
      margin-bottom: 15px;
    }

    .custom-page--banner-title {
      font-size: 24px;
      margin-bottom: 15px;
      margin-top: 0px;
    }

    .page-subnav-tab {
      .tab-info-summary {
        display: none;
      }
    }
  }

  .projekt-footer {
    .key-dates {
      margin: 0;
    }

    .row {
      max-width: initial;
    }

    .column {
      padding: 0;
    }

    .comments {
      width: 75%;
      margin: 0;

      @media (max-width: $mobile-viewport-start) {
        width: 100%;
      }
    }
  }

  .projekt-page {
    padding-top: 50px;

    .main-column {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .projekt-footer-anchor {
      display: block;
      position: relative;
      top: -270px;
      visibility: hidden;
    }
  }

  .custom-page-content {
    h3 {
      margin-bottom: 0.6rem;
      margin-top: 1.3rem;

      @media(max-width: $big-tablet-viewport-start) {
        margin-top: 1rem;
      }
    }

    img {
      border-radius: 5px;
    }
  }
}
