.custom-new-design {
  &.home-page {
    header {
      .top-bar-background-wrapper {
        background-color: transparent;
      }
    }

    .top-bar-wrapper:not(.sticky-header) {
      .top-logo {
        &--regular {
          display: none;
        }

        &--for-trasparent {
          display: block;
        }
      }
    }
  }

  .welcome-page {
    @media(max-width: $small-tablet-viewport-start) {
      padding-top: 30px;
    }

    .main-column .custom-content-block-body {
      margin-bottom: 40px;

      @media(max-width: $small-tablet-viewport-start) {
        margin-bottom: 30px;
      }
    }
  }

  .welcome-page--projekts-link {
    display: flex;
    justify-content: center;

    a {
      color: $main-text-color;
    }
  }
}
