aside {
  padding: 0 var(--kern-metric-space-x-small);

  nav {
    .nav-item {
      color: var(--kern-color-layout-text-default);

      &.active {
        background-color: var(--kern-color-feedback-info-background);
        border-radius: var(--kern-8);
      }
    }

    a {
      padding: var(--kern-metric-space-default);
      text-decoration: none;
      color: inherit;
    }
  }
}
