.custom-new-design {
  .budget-subnav {
    margin-top: 0px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .budget-subnav--items {
      display: flex;
      align-items: center;
    }

    .budget-subnav--actions {
      display: flex;
      align-items: center;
    }

    .budget-subnav-item {
      margin-right: 10px;
      padding: 4px 10px;
      border-radius: 6px;
      cursor: pointer;
      transition: background-color 150ms ease-out;

      a {
        color: inherit;
        text-decoration: none;
      }

      &:hover {
        background-color: $dt-base-transparent-background-hover;
      }

      &.-active {
        font-weight: bold;
        text-decoration: underline;
      }

      &.-disabled {
        cursor: default;
        opacity: 0.6;

        &:hover {
          background-color: transparent;
        }
      }
    }
  }
}
