<td style="padding-bottom: 20px; padding-left: 10px;">
  <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-weight: normal;line-height: 24px;">
    Sie haben einen Export beantragt. Die Daten wurden nun exportiert und sind im Anhang anbei.
  </p>
</td>
