<td style="padding-bottom: 20px; padding-left: 10px;">
  <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-weight: normal;line-height: 24px;">
    <%= t("mailers.individual_group_value_users_added.p1_html", url: admin_individual_group_value_url(@individual_group, @individual_group_value)) %>
  </p>
</td>
