<td style="padding-bottom: 20px; padding-left: 10px;">
  <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-weight: normal;line-height: 24px;">
    <%= t("mailers.reverification_failed.p1") %>
  </p>

  <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-weight: normal;line-height: 24px;">
    <%= sanitize(
      t("mailers.reverification_failed.p2_html",
        account_link: link_to(
          t("mailers.reverification_failed.account_link"),
          account_url,
          style: css_for_mailer_link)
      ),
      attributes: %w[href style]
    ) %>
  </p>
</td>
