@use "../abstracts/breakpoints" as breakpoints;

/* Display Utility Classes */
.d-none { display: none !important; }
.d-inline { display: inline !important; }
.d-block { display: block !important; }
.d-flex { display: flex !important; }

@each $bp, $bp-width in breakpoints.$grid-breakpoints {
  @media (min-width: $bp-width) {
    .d-#{$bp}-none { display: none !important; }
    .d-#{$bp}-inline { display: inline !important; }
    .d-#{$bp}-block { display: block !important; }
    .d-#{$bp}-flex { display: flex !important; }
  }
}
