:root {
  --kern-font-size-14: 0.875rem;
  --theme-metric-border-radius-default: 0.25rem;
  --dropdown-toggle-bg: color-mix(in srgb, #ebebeb, white 25%);
}

[class^=kern-col], [class*=kern-col] {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.kern-btn .material-symbols-outlined {
  font-size: var(--kern-font-size-24) !important;
}

.kern-btn--tertiary:has(.material-symbols-outlined) .kern-label {
  text-decoration: none;
}

.kern-form-input {
  width: 100%;
  position: relative;

  &.kern-form-input--error {
    border-left: none !important;

    &::before {
      content: "";
      background: var(--kern-color-feedback-danger);
      width: var(--kern-metric-border-width-bold);
      height: calc(100% + 2rem);
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  .kern-error {
    position: absolute;
    bottom: -3rem;
    left: var(--kern-metric-space-default, 16px);
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }
}

.kern-form-input__input {
  width: 100%;
}

.kern-label--disabled {
  opacity: 0.5;
}
