[class^=kern-col], [class*=kern-col] {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.kern-btn .material-symbols-outlined {
  font-size: var(--kern-font-size-24) !important;
}

.kern-form-input {
  width: 100%;
  position: relative;

  &.kern-form-input--error {
    border-left: none !important;

    &::before {
      content: "";
      background: var(--kern-color-feedback-danger);
      width: var(--kern-metric-border-width-bold);
      height: calc(100% + 2rem);
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  .kern-error {
    position: absolute;
    bottom: -2rem;
    left: var(--kern-metric-space-default, 16px);
  }
}

.kern-form-input__input {
  width: 100%;
}
