@use "../abstracts/breakpoints" as breakpoints;

/* Position Utility Classes */
.position-static { position: static !important; }
.position-relative { position: relative !important; }
.position-absolute { position: absolute !important; }
.position-fixed { position: fixed !important; }
.position-sticky { position: -webkit-sticky !important; position: sticky !important; }

@each $bp, $bp-width in breakpoints.$grid-breakpoints {
  @media (min-width: $bp-width) {
    .position-#{$bp}-static { position: static !important; }
    .position-#{$bp}-relative { position: relative !important; }
    .position-#{$bp}-absolute { position: absolute !important; }
    .position-#{$bp}-fixed { position: fixed !important; }
    .position-#{$bp}-sticky { position: -webkit-sticky !important; position: sticky !important; }
  }
}

/* Top, Right, Bottom, Left Utility Classes */
.top-0 { top: 0 !important; }
.top-50 { top: 50% !important; }
.top-100 { top: 100% !important; }
.top-n50 { top: -50% !important; }
.top-n100 { top: -100% !important; }

.right-0 { right: 0 !important; }
.right-50 { right: 50% !important; }
.right-100 { right: 100% !important; }
.right-n50 { right: -50% !important; }
.right-n100 { right: -100% !important; }

.bottom-0 { bottom: 0 !important; }
.bottom-50 { bottom: 50% !important; }
.bottom-100 { bottom: 100% !important; }
.bottom-n50 { bottom: -50% !important; }
.bottom-n100 { bottom: -100% !important; }

.left-0 { left: 0 !important; }
.left-50 { left: 50% !important; }
.left-100 { left: 100% !important; }
.left-n50 { left: -50% !important; }
.left-n100 { left: -100% !important; }

@each $bp, $bp-width in breakpoints.$grid-breakpoints {
  @media (min-width: $bp-width) {
    .top-#{$bp}-0 { top: 0 !important; }
    .top-#{$bp}-50 { top: 50% !important; }
    .top-#{$bp}-100 { top: 100% !important; }
    .top-#{$bp}-n50 { top: -50% !important; }
    .top-#{$bp}-n100 { top: -100% !important; }

    .right-#{$bp}-0 { right: 0 !important; }
    .right-#{$bp}-50 { right: 50% !important; }
    .right-#{$bp}-100 { right: 100% !important; }
    .right-#{$bp}-n50 { right: -50% !important; }
    .right-#{$bp}-n100 { right: -100% !important; }

    .bottom-#{$bp}-0 { bottom: 0 !important; }
    .bottom-#{$bp}-50 { bottom: 50% !important; }
    .bottom-#{$bp}-100 { bottom: 100% !important; }
    .bottom-#{$bp}-n50 { bottom: -50% !important; }
    .bottom-#{$bp}-n100 { bottom: -100% !important; }

    .left-#{$bp}-0 { left: 0 !important; }
    .left-#{$bp}-50 { left: 50% !important; }
    .left-#{$bp}-100 { left: 100% !important; }
    .left-#{$bp}-n50 { left: -50% !important; }
    .left-#{$bp}-n100 { left: -100% !important; }
  }
}

/* Transform Utility Classes */
.translate-middle { transform: translate(-50%, -50%) !important; }
.translate-middle-x { transform: translateX(-50%) !important; }
.translate-middle-y { transform: translateY(-50%) !important; }

/* Z-Index Utility Classes */

.z-n1 { z-index: -1 !important; }
.z-0 { z-index: 0 !important; }
.z-1 { z-index: 1 !important; }
.z-2 { z-index: 2 !important; }
.z-3 { z-index: 3 !important; }
.z-10 { z-index: 10 !important; }
.z-100 { z-index: 100 !important; }
.z-auto { z-index: auto !important; }

@each $bp, $bp-width in breakpoints.$grid-breakpoints {
  @media (min-width: $bp-width) {
    .z-#{$bp}-n1 { z-index: -1 !important; }
    .z-#{$bp}-0 { z-index: 0 !important; }
    .z-#{$bp}-1 { z-index: 1 !important; }
    .z-#{$bp}-2 { z-index: 2 !important; }
    .z-#{$bp}-3 { z-index: 3 !important; }
    .z-#{$bp}-10 { z-index: 10 !important; }
    .z-#{$bp}-100 { z-index: 100 !important; }
    .z-#{$bp}-auto { z-index: auto !important; }
  }
}
