/* Display Utility Classes */
.d-none { display: none !important; }
.d-inline { display: inline !important; }
.d-block { display: block !important; }
.d-flex { display: flex !important; }

@media (min-width: var(--sm-min-width)) {
  .d-sm-none { display: none !important; }
  .d-sm-inline { display: inline !important; }
  .d-sm-block { display: block !important; }
  .d-sm-flex { display: flex !important; }
}

@media (min-width: var(--md-min-width)) {
  .d-md-none { display: none !important; }
  .d-md-inline { display: inline !important; }
  .d-md-block { display: block !important; }
  .d-md-flex { display: flex !important; }
}

@media (min-width: var(--lg-min-width)) {
  .d-lg-none { display: none !important; }
  .d-lg-inline { display: inline !important; }
  .d-lg-block { display: block !important; }
  .d-lg-flex { display: flex !important; }
}

@media (min-width: var(--xl-min-width)) {
  .d-xl-none { display: none !important; }
  .d-xl-inline { display: inline !important; }
  .d-xl-block { display: block !important; }
  .d-xl-flex { display: flex !important; }
}

@media (min-width: var(--xxl-min-width)) {
  .d-xxl-none { display: none !important; }
  .d-xxl-inline { display: inline !important; }
  .d-xxl-block { display: block !important; }
  .d-xxl-flex { display: flex !important; }
}
