<%if @categories.any? && extended_feature?("modulewide.enable_categories") %>
  <ul class="tag-list-filter no-bullet">
    <% selected_categories = params[:tags] ? params[:tags].split(',') : [] %>

    <% @categories.each do |category| %>
      <% css_class = selected_categories.include?(category.name) ? "is-active" : "" %>
      <li class="tag-item <%= css_class %>">
        <%= link_to(category.name, current_path_with_query_params_merged_subarrays(tags: category.name)) %>
      </li>
    <% end %>
  </ul>
<%end%>
