<div class="dropdown-menu-container js-dropdown-menu">
  <div class="js-dropdown-menu-toggle">
    <%= trigger_button %>
  </div>
  <div class="dropdown-menu-list">
    <% options.each do |option| %>
      <div class="js-dropdown-menu-item dropdown-menu-item <%= @item_css_class %>" >
        <%= option %>
      </div>
    <% end %>
  </div>
</div>
