<div class="show-on-small-tablet">
  <div class="mobile-filter">
    <button
        type="button"
        class="mobile-filter--toggle-button"
        data-toggle="mobile_filter_body"
        >
        <div class="mobile-filter--toggle-button-inner">
          <i class="fa fa-filter"> </i>
          Filter
        </div>
    </button>

    <div id="mobile_filter_body" class="mobile-filter--body" data-toggler="hide" >
      <% if @projekts_filter_variables.present? %>
        <%= render Sidebar::ProjektsFilterComponent.new(@projekts_filter_variables) %>
      <% end %>

      <%= render "shared/sidebar_filter/geozone_affiliations", resource_name: @resource_name, geozones: @geozones %>
      <%= render "shared/categories", taggable: "projekt", categories: @categories, projekt_footer_mode: true %>
      <%= render SDG::Goals::TagCloudComponentCustom.new("Projekt", sdg_targets: @sdg_targets) %>
    </div>
  </div>
</div>

