<div data-field-name="<%= @field_name %>" class="js-frame-edit-field-container frame-edit-field-container">
  <div class="js-frame-edit-field-content frame-edit-field-content">
    <%= content %>
  </div>

  <div class="frame-edit-field--controlls">
    <button class="frame-edit-field-button -transparent-round-icon-button-black js-frame-edit-field-text-edit-button">
      <i class="fas fa-pencil-alt"></i>
    </button>
    <div class="frame-edit-field--text-edit-controlls">
      <button class="frame-edit-field-controlls-button -transparent-round-icon-button-black js-frame-edit-field--text-edit-cancel">
        <i class="fas fa-xmark"></i>
      </button>
      <button class="frame-edit-field-controlls-button -transparent-round-icon-button-black js-frame-edit-field-text-edit-save">
        <i class="fas fa-check"></i>
      </button>
    </div>
  </div>
</div>
