<%= back_link_to %>

<div class="row">
  <div class="column">
    <h2 class="margin-top"><%= t("admin.answers.edit.title") %></h2>
  </div>
</div>

<div class="poll-question-answer-form">
  <%= render "admin/poll/questions/answers/form", form_url: polymorphic_path([@namespace, @question, @answer]) %>
</div>
