<%= back_link_to %>

<div class="row">
  <div class="column">
    <h2><%= t("admin.answers.new.title") %></h2>
  </div>
</div>

<div class="poll-question-answer-form">
  <%= render "admin/poll/questions/answers/form", form_url: polymorphic_path([@namespace, @question, :answers]) %>
</div>
