<%= render(Resources::ListItemComponent.new(**component_attributes)) do |c| %>
  <% c.with_header do %>
    <%= helpers.format_date_range(@poll.projekt_phase.start_date, @poll.projekt_phase.end_date, separator: t("custom.polls.poll.date.to")) %>
  <% end %>
  <% c.with_footer_section do %>
    <div class="mb-5">
      <%= link_to_poll(button_text, poll, class_name: "button -purple") %>
    </div>
  <% end %>
<% end %>
