.custom-new-design {
  .poll-question {
    background: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    padding-bottom: 20px;

    &--intro {
      margin-top: 2rem;
      margin-bottom: -1rem;
      color: #67788a;
    }

    &--title {
      color: #4f4f4f;
    }

    &--description {
      color: #4f4f4f;
    }

    .answer-counted {
      color: #207868;
    }

    i {
      @media (max-width: 640px) {
        font-size: 12px;
      }
    }
  }
}
