<h2 class="d-flex d-flex-align-center" >
  <%= t("custom.admin.projekt_phases.projekt_questions.new_block_title") %>
  <% if embedded? %>
    <%= render Shared::ExplainButtonComponent.new(
      explain: "projekt questions"
    ) %>
  <% end %>
</h2>

<%= link_to t("custom.admin.projekt_phases.projekt_questions.create_button"), polymorphic_path([@namespace, @projekt_phase, ProjektQuestion.new], action: :new), class: "button" %>

<% unless embedded? %>
  <%= link_to t("custom.admin.projekt_phases.projekt_questions.send_notifications_button"), polymorphic_path([@namespace, @projekt_phase, ProjektQuestion.new], action: :send_notifications), method: :post, class: "button margin-right" %>
<% end %>
