<h2><%= t("custom.admin.projekts.edit.projekt_events_tab.page_title") %></h2>

<%= render partial: 'custom/admin/projekts/edit/projekt_events/form', locals: { url: admin_projekt_projekt_events_path(@projekt), projekt: @projekt, event: @projekt_event } %>

<div class='margin-top'>
  <% @projekt_events.each do |event| %>
    <%= render "custom/admin/projekts/edit/projekt_events/projekt_event", event: event %>
  <% end %>
</div>
