.attribute-editor-component {
  .kern-body {
    font-size: var(--kern-font-size-16, 16px);
    padding-right: var(--kern-metric-space-x-large, 2rem);
  }

  .kern-form-input__input {
    font-size: var(--kern-font-size-16, 16px);
  }

  .attribute-form.string,
  .attribute-form.date {
    form {
      display: flex;
      gap: 8px;

      .kern-form-input__input {
        flex: 1;
      }
    }
  }

  .attribute-form.boolean {
  }

  .attribute-form.select {
    form {
      display: flex;
      gap: 8px;
    }
  }

  .attribute-form.image {
    .kern-form-input .form-error {
      display: none;
    }
  }

  .kern-form-input__input:disabled {
    cursor: not-allowed;
  }

  .attribute-form.rich_text .disabled {
    .ck-editor__top {
      display: none;
    }

    .ck-editor__editable {
      background: var(--kern-grey-050);
    }
  }

  .attribute-form.color .color-picker.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }
}
