.setting-component {
  .setting-input {
    position: relative;

    .success-message {
      position: absolute;
      bottom: -25px;
      transition: opacity 0.5s ease;
      opacity: 1;
    }
  }

  .setting-input.string {
    .setting-controls {
      display: flex;
      gap: 8px;

      .kern-form-input {
        flex: 1;
      }
    }
  }

  .setting-input.boolean {
  }

  .setting-input.image {
    .kern-form-input .form-error {
      display: none;
    }
  }
}
