.breadcrumb-list {
  margin: 20px 0;
  display: flex;

  .breadcrumb-item a {
    color: var(--kern-custom-grey-700);
    text-decoration: none;
  }

  .breadcrumb-item:not(:last-child)::after {
    content: "/";
    margin: 0 0.5em;
    color: var(--kern-custom-grey-700);
  }
}
