$orange-button-color: #FFA42D;
$grey-button-color: #cfd9e2;
$green-button-color: #00AA0B;

button {
  cursor: pointer;

}

.link-button {
  color: #004a83;
}

.custom-new-design {
  // .button:not(div#page-content .button) {
  .button {
    background-color: $brand;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    // padding: 0 20px 0;
    padding: 10px 20px !important;
    // max-width: 300px;
    // display: flex !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    border-radius: 7px;
    transition: background-color 0.1s ease;

    &.-round {
      border-radius: 38px !important;
    }

    .icon {
      padding-right: 5px;
    }

    &:hover, &:focus {
      background-color: lighten($brand, 6%);
      color: white;
    }

    &.-grey {
      background: $grey-button-color;
      color: black;

      &:hover, &:focus {
        background-color: lighten($grey-button-color, 5%)
      }

      &:active {
        background-color: lighten($grey-button-color, 7%)
      }
    }

    &.-orange {
      background: $orange-button-color;
      color: black;

      &:hover, &:focus {
        background-color: lighten($orange-button-color, 5%)
      }

      &:active {
        background-color: lighten($orange-button-color, 7%)
      }
    }

    &.-green {
      background: $green-button-color;
      color: white;

      &:hover, &:focus {
        background-color: lighten($green-button-color, 5%)
      }

      &:active {
        background-color: lighten($green-button-color, 7%)
      }
    }

    &.-purple {
      background: #EAE4FB;
      color: black;

      &:hover, &:focus {
        background-color: #dad2f0;
      }
    }

    &.hollow {
      background-color: transparent;
      border: 1px solid $brand;
      color: $brand;

      &:hover  {
        background: rgba($brand, 0.1);
        color: $brand;
      }
      &:focus, &:active {
        background: rgba($brand, 0.3);
      }

      &.alert {
        &:hover, &:focus, &:active {
          background: #ffe7e3;
          color: #cc4b37;
        }
      }
    }
  }

  .icon {
    margin-right: 5px;
  }

  .submit-button {
    font-size: 18px;
    height: 45px;
  }

  .input-group {
    .button {
      border-radius: 7px;
    }
  }

  .new-resource-cta {
    width: 420px;

    .button {
      font-size: 20px;
    }
  }

  .button.button-support.unvote {
    background-color: antiquewhite;
  }

  .open-answer {
    background-color: #207868;
  }

  @media(min-width: 40em) {
    .menu-and-content [for="show_menu"] {
      display: none !important;
    }
  }

  .admin .featured-settings-form [aria-pressed][aria-pressed=true] {
    background-color: $brand;
  }
}

button {
  &.-round-icon-button {
    padding: 0 !important;
    border-radius: 50%;
    color: #919dab;
    width: 1.7em;
    height: 1.7em;
    transition: 50ms ease background-color;
    background-color: $light-gray-2;

    i {
      width: 1.3em;
    }

    &:hover {
      background-color: darken($light-gray-2, 2);
    }

    &:active {
      background-color: #edebeb;
    }
  }

  &.-transparent-round-icon-button {
    padding: 0 !important;
    border-radius: 50%;
    color: #919dab;
    width: 1.7em;
    height: 1.7em;
    transition: 50ms ease background-color;
    background: transparent;

    i {
      width: 1.3em;
    }

    &:hover {
      background-color: #ededed;
    }

    &:active {
      background-color: #edebeb;
    }
  }
  &.-transparent-round-icon-button-black {
    @extend .-transparent-round-icon-button;
    color: black;

    &:hover {
      background-color: #00000012;
    }

    &:active {
      background-color: #00000012;
    }
  }
}

.square-back-button {
  border-radius: 5px;
  background-color: $brand;
  color: white;

  &:hover {
    text-decoration: none;
    color: white;
  }
}
