@font-face {
  font-family: "Asap";
  src: font-url("Asap-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Asap";
  src: font-url("Asap-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Asap";
  src: font-url("Asap-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Asap";
  src: font-url("Asap-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
//
// @font-face {
//   font-family: "Asap";
//   src: font-url("Asap-MediumItalic.ttf") format("truetype");
//   font-weight: 500;
//   font-style: italic;
// }
//
// @font-face {
//   font-family: "Asap";
//   src: font-url("Asap-SemiBoldItalic.ttf") format("truetype");
//   font-weight: 600;
//   font-style: italic;
// }
//
// @font-face {
//   font-family: "Asap";
//   src: font-url("Asap-BoldItalic.ttf") format("truetype");
//   font-weight: bold;
//   font-style: italic;
// }

@font-face {
  font-family: "Lexend";
  src: font-url("Lexend-light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lexend";
  src: font-url("Lexend-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lexend";
  src: font-url("Lexend-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lexend";
  src: font-url("Lexend-semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lexend";
  src: font-url("Lexend-bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans 3";
  src: font-url("SourceSans3-light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans 3";
  src: font-url("SourceSans3-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans 3";
  src: font-url("SourceSans3-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans 3";
  src: font-url("SourceSans3-semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans 3";
  src: font-url("SourceSans3-bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
