.custom-new-design {
  .new-card, .main-content-card {
    background: white;
    border-radius: 12px;
    border: 1px solid $border-color;
    margin-bottom: 15px;
    color: $main-text-color;
    padding: 30px 30px;
    overflow: hidden;

    &.-no-padding {
      padding: 0;
    }

    @media (max-width: $mobile-viewport-start) {
      padding: 20px 20px;
    }

    &.-no-padding {
      padding: 0;

      .new-card-body {
        padding: 0 25px;
        padding-bottom: 20px;

        @media (max-width: $mobile-viewport-start) {
          padding: 0 20px;
        }
      }
    }
  }

  .main-content-card {
    padding: 30px 30px;
    // TODO change if needed
    overflow: visible;
    min-height: 114px;
    border-color: $soft-border;
    border-radius: $radius-large;
    box-shadow: $shadow-small;

    h1 {
      margin-top: 0;
    }

    h1, h2, h3 {
      font-family: $heading-font;
    }

    @media(max-width: $big-tablet-viewport-start) {
      padding: 25px 25px;
    }
    @media (max-width: $mobile-viewport-start) {
      padding: 20px 25px;
    }

    &.-hide-background {
      background: transparent;
      padding: 0;
      border: 0;

      .add-new-content-block-section--controls {
        right: calc(100% + 12px);
      }
    }
  }

  .new-card--heading {
    display: flex;
    color: black;
    margin-bottom: 10px;
    font-size: 18px;
  }

  .new-card--heading-icon {
    color: var(--brand-color);
    margin-right: 5px;
  }
}

.small-card {
  background: white;
  border-radius: 10px;
  border: 1px solid #d9d9d9;
  overflow: hidden;
  padding: 8px 12px;
}
