.custom-new-design {
  &.home-page .top-bar[data-white-text="true"] .translate-widget .translate-widget-toggler {
    color: #fff;
  }
  &.home-page .sticky-header .top-bar .translate-widget .translate-widget-toggler {
    color: #222;
  }

  .translate-widget {
    align-self: center;
    margin-right: 10px;
    font-size: 1.6rem;
    cursor: pointer;

    .translate-widget-toggler {
      color: #222;
    }

    .google_translate_element {
      align-self: center;
      margin-right: 30px;

      select.goog-te-combo {
        width: 170px;

        @media (min-width: 640px) {
          width: 55px;
        }
      }
    }
  }

  .skiptranslate + header {
    margin-top: 39px;

    .top-bar-wrapper.sticky-header {
      margin-top: 39px;
    }
  }

  .skiptranslate + header + .header--responsive-menu-wrapper {
    #responsive-menu .subnavigation {
      top: 99px;
      max-height: calc(100vh - 99px);
    }
  }

  .skiptranslate ~ .wrapper {
    .custom-fixed-tabs--content {
      margin-top: 39px;
    }
  }
}

.custom-new-design {
  .button.button-bund-id {
    background: #ebeef4;
    display: block;

    &:hover {
      background: #d1d8e7;
    }
  }
}
