#projekt_labels_selector {
  margin-top: 0;
  margin-bottom: 0;

  label:not(.projekt-label) {
    display: none;
  }

  input {
    display: none;
  }

  .projekt-label {
    color: #fff !important;

    i {
      margin-right: 7px;
    }
  }

  input:checked + .projekt-label {
    color: #fff !important;
    background-color: $brand !important;
  }

  .projekt-labels-selector--checkboxes {
    display: flex;
    margin-bottom: 10px;
    gap: 8px;

    .projekt-label {
      margin-bottom: 0.3em;
    }
  }
}

.projekt-labels {
  .projekt-label:not(label) {
    background-color: $brand;
  }
}

