.proposal-resources-section {
  margin-top: 30px;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.proposal-resources-sections {
  margin-top: 50px;
}

.proposal-notifications-list {
  padding-top: 30px;
}

.voice-assistant-iframe {
  height: 115px;
  width: 380px;
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
  border-radius: 20px;
  border: 1px solid #959595;
  background-color: #383838;
  margin: auto;
  z-index: 500;
  box-shadow: 2px 3px 5px 4px rgba(0, 0, 0, 0.12);

  &.-collapsed {
    right: 10px;
    left: unset;
    height: 50px;
    width: 230px;
    border-radius: 15px;
    transition: none;
  }

  &.-running {
    transition: width 500ms ease;
    width: 500px;
  }
}

// .voice-assistant-iframe {
//   // backdrop-filter: blur(8px);
// }
