.filter-projekts-active {
  margin-bottom: 10px;
}

.projekt-footer-navigation::after {
  width: 100;
  left: 0;
  right: 0;
}

@media (max-width: $small-tablet-viewport-start) {
  .projekt-footer-navigation {
    .projekt-footer-title {
      display: none;
    }
  }
}

.projekt-phase-permission-problem-message {
  color: $medium-gray-3;
  text-align: center;
  font-size: 20px;
  padding-top: 10px;
}
