.image-gallery-with-ligthbox {
  // display: flex;
  // overflow-x: auto;
  // gap: 8px;
  list-style: none;
  margin-bottom: 25px;
  max-width: 100%;
  margin-left: 0;

  img {
    max-width: 100%;
    border-radius: 8px;
    overflow: hidden;
    width:100%;
    /* aspect-ratio: 1 / 0.5; */
    object-fit:cover
    /* margin-bottom: 5px; */
  }

  &.-single-image {
    img {
      border-radius: 10px;
    }
  }
}

// .accordion-title {
//   border-radius: 5px;
// }

.gfadeIn {
  animation-duration: .25s;
}

.gfadeOut {
  animation-duration: .25s;
}

div[data-box-shadow] {
  box-shadow: attr(data-box-shadow);
}

// .content-block-link-file-icon {
//   margin-right: 0;
// }
