#projekt_labels_selector {
  margin-top: 0;
  margin-bottom: 0;

  label:not(.projekt-label) {
    display: none;
  }

  input {
    display: none;
  }

  .projekt-label {
    color: $main-text-color !important;
    background-color: $light-gray-1 !important;

    i {
      margin-right: 7px;
    }

    .projekt-label--image-icon {
      width: 18px;
      height: 18px;
      margin-right: 7px;
      object-fit: contain;
      vertical-align: text-bottom;
    }
  }

  input:checked + .projekt-label {
    color: #fff !important;
    background-color: var(--brand-color) !important;
  }

  .projekt-labels-selector--checkboxes {
    display: flex;
    margin-bottom: 10px;
    gap: 8px;
    flex-wrap: wrap;
  }
}

.projekt-labels {
  .projekt-label:not(label) {
    background-color: var(--brand-color);
  }
}

