#sentiment_selector {
  margin-top: 0;
  margin-bottom: 0;

  label:not(.sentiment) {
    display: none;
  }

  input {
    display: none;
  }

  input:checked + .sentiment {
    &::before {
      content: "\f192";
    }
  }

  .projekt-sentiments-selector--checkboxes {
    display: flex;
    margin-bottom: 10px;
    gap: 8px;

    .sentiment {
      margin-bottom: 0.3em;
      font-size: 0.9em;
      border-radius: 5px;
    }
  }
}
