.button.button-twitter,
.button.button-facebook,
.button.button-google,
.button.button-wordpress {
  color: $text;
  font-weight: bold;

  &::before {
    font-size: rem-calc(24);
    margin-right: $font-icon-margin;
  }
}

.social-share-button {
  .button.button-twitter {
    //background: #ecf7fc;
    background-color: black;
    color: white;

    &::before {
      mask-image: image-url("x_icon.svg");
      color: white;
    }

    &:hover {
      color: white !important;
      background-color: #000 !important;
    }
  }
}

.social-share-button .ssb-icon {
  background-image: none;
  color: #fff;
  height: $icon-width;
  line-height: $icon-width;
  text-align: center;
  width: $icon-width;

  &::before {
    font-size: $icon-width / 2;
    margin-right: 0;
  }

  &:hover,
  &:focus {
    /* background: #fff; */
  }
}

.button.button-facebook {
  background: #ebeef4;
  border-left: 3px solid #3b5998;

  &::before {
    color: #3b5998;
  }
}
.button.button-google {
  background: #fcedea;
  border-left: 3px solid #de4c34;

  &::before {
    color: #de4c34;
  }
}

.button.button-wordpress {
  background: #dcdde3;
  border-left: 3px solid #2f2f33;

  &::before {
    color: #2f2f33;
  }
}

.social-share-button {
  .ssb-icon {
    transition: background-color 100ms ease;
  }

  .ssb-twitter {
    background: #000;

    &:hover,
    &:focus {
      background:  lighten(#000, 18);
    }
  }

  .ssb-facebook {
    background: #3b5998;

    &:hover,
    &:focus {
      background: lighten(#3b5998, 7);
    }
  }

  .ssb-telegram {
    background: #08c;

    &:hover,
    &:focus {
      background: lighten(#08c, 2);
    }
  }

  .ssb-whatsapp {
    background: #43d854;

    &:hover,
    &:focus {
      background: lighten(#43d854, 5);
    }
  }

  .ssb-email {
    &:hover,
    &:focus {
      background: lighten(red, 10);
    }
  }

  .ssb-linkedin {
    &:hover,
    &:focus {
      background: lighten(#0e76a8, 4);
    }
  }
}
