.mb-5 {
  margin-bottom: 5px;
}

.width-100, .full-width {
  width: 100%;
}

.flex, .u-flex {
  display: flex;

  &.no-wrap {
    flex-wrap: nowrap;
  }

  &.wrap {
    flex-wrap: wrap;
  }

  &.gap-10 {
    gap: 10px;
  }

  &.gap-20 {
    gap: 20px;
  }

  &.gap-30 {
    gap: 30px;
  }
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.u-justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.d-none, .custom-new-design .d-none {
  display: none;
}

.margin-top-half {
  margin-top: $line-height / 2;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-bottom-half {
  margin-bottom: $line-height / 2;
}

.margin-left-20 {
  margin-left: 20px;
}

.margin-top-0-force {
  margin-top: 0 !important;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.flex-centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-margin {
  margin: 0;
}
