<td style="padding-bottom: 20px; padding-left: 10px;">

  <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-weight: normal;line-height: 24px;">
    <%= t("custom.sign_up.mailer.residence_confirmation_code.greeting") %> <%= @user.full_name %>,
  </p>

  <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-weight: normal;line-height: 24px;">
    <%= t("custom.sign_up.mailer.residence_confirmation_code.text_html") %>
  </p>

  <br>
</td>
