.area-chart-card {
  background: #ebeef2;
  border-radius: 12px;
  padding: 20px 25px;
  margin-bottom: 15px;
}

.area-chart-card--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.area-chart-card--title {
  // font-size: 18px;
  font-size: 22px !important;
  margin-bottom: 0 !important;
  font-weight: 600;
  color: #333;
  margin: 0;
}

.area-chart-card--total {
  font-size: 38px;
  font-weight: 700;
  color: #333;
  margin-bottom: 15px;
  line-height: 1;
}

.area-chart-container {
  position: relative;
  height: 250px;
  width: 100%;

  canvas {
    width: 100% !important;
    height: 100% !important;
  }
}

.timeline-stats {
  margin-top: 20px;
  gap: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.timeline-stats > div {
  flex: 1 1 300px;
  min-width: 0;
}
