<footer>
  <div class="row">
    <div class="small-12 medium-4 column">
      <ul>
        <li>Lorem ipsum dolor</li>
        <li>sit amet, consectetur</li>
        <li>adipiscing elit</li>
      </ul>
    </div>
    <div class="small-12 medium-4 column">
      <ul>
        <li>Aliquam tempus viverra</li>
        <li>Donec non lectus</li>
        <li>lacus feugiat</li>
      </ul>
    </div>
    <div class="small-12 medium-4 column">
      <ul>
        <li>Donec fringilla suscipit</li>
        <li>nisi sollicitudin accumsan</li>
        <li>Fusce accumsan erat</li>
      </ul>
    </div>
  </div>
</footer>
