<div id="newsletter-subscribtion-form">
  <p><%= t("custom.welcome.sidebar.newsletter.cta") %></p>
  <%= form_for unregistered_email_subscriber, format: :js, remote: true do |f| %>
    <%= f.text_field :email, label: false, placeholder: User.human_attribute_name(:email) %>
    <%= f.submit t("custom.welcome.sidebar.newsletter.submit"), class: "button" %>
  <% end %>
</div>
