// colors
$brand:                                           #004078;
$brand-secondary:                                 #002d50 !default;
$secondary:                                       lighten($brand, 70%);
$accent:                                          #90A422;
$dark:                                            darken($brand, 10%);
$brand-lighter:                                   rgba($brand, 0.5);
$text-over-brand:                                 $white;

// Menu variables

$black:                                           #222;
$white:                                           #fff;

$top-level-menu-item-text-color:                  $black;
$top-level-menu-background-color:                 $white;
$flyout-item-text-color:                          $black;
$flyout-item-bg-color:                            $white;
$flyout-block-border-color:                       #dee0e3;
$flyout-item-divider-color:                       lighten($flyout-block-border-color, 5%);


$flyout-item-line-height:                         1.5rem;
$flyout-item-projekt-min-height:                  60px;

$responsive-menu-text-color:                      $black;
$responsive-menu-background-color:                $white;

$module-index-panel-background:                   lighten($brand, 70%);




//  Review these variables
$tagsbackgroundcolor:         lighten($brand, 65%);
$tagstextcolor:               $brand;
$welcomebgposition:           top;
$welcomebgcolor:              $white;
$welcomeheadline:             $white;
$welcomelead:                 $white;
$welcomebuttonbg:             $brand;
$welcomebuttontext:           $white;
$welcometitle:                $brand;
$dropdownbackground:          $white;
$dropdowntextcolor:           $black;
$welcometextpositionmedium:   rem-calc(20);
$welcometextpositionlarge:    rem-calc(25); 
$welcomespan:                 $brand;



// fonts
@import "custom_fonts";
