// brand_color
$brand:                                           #000000;
$secondary:                                       #e7e7e7;
$accent:                                          lighten($brand, 50%);


// Menu variables

$dark:                                            #222;
$white:                                           #fff;


$top-level-menu-item-text-color:                  $white;
$top-level-menu-background-color:                 $brand;
$flyout-item-text-color:                          $brand;
$flyout-item-bg-color:                            $white;

$flyout-block-border-color:                       $secondary;
$flyout-item-divider-color:                       $secondary;
$flyout-item-projekt-modules-links-color:         $brand;


$flyout-item-line-height:                         1.5rem;
$flyout-item-projekt-min-height:                  60px;

$responsive-menu-text-color:                      $dark;
$responsive-menu-background-color:                $white;

$module-index-panel-background:                   #f9f9f9;




//  Review these variables
$tagsbackgroundcolor:         lighten($brand, 65%);
$tagstextcolor:               $brand;
$welcomebgposition:           top;
$welcomebgcolor:              $white;
$welcomeheadline:             $white;
$welcomelead:                 $white;
$welcomebuttonbg:             $brand;
$welcomebuttontext:           $white;
$welcometitle:                $brand;
$dropdownbackground:          $white;
$dropdowntextcolor:           $black;
$welcometextpositionmedium:   rem-calc(20);
$welcometextpositionlarge:    rem-calc(25); 
$welcomespan:                 $brand;



// fonts
@import "custom_fonts";
