.shared-admin-iframe--wrapper {
  position: relative;
  overflow: hidden;
}

.shared-admin-iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  min-height: 500px;
  border-radius: 12px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cstyle%3Epath%7Btransform-origin:center;animation:sp .75s linear infinite%7D@keyframes sp%7Bto%7Btransform:rotate(360deg)%7D%7D%3C/style%3E%3Cpath fill='%23999' d='M10.14,1.16a11,11,0,0,0-9,8.92A1.59,1.59,0,0,0,2.46,12,1.52,1.52,0,0,0,4.11,10.7a8,8,0,0,1,6.66-6.61A1.42,1.42,0,0,0,12,2.69h0A1.57,1.57,0,0,0,10.14,1.16Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px 50px;

  &.-loaded {
    background-image: none;
  }
}
