.custom-new-design {
  .projekt-arguments-containerr {
    display: flex;
    justify-content: left;

    .projekt-arguments-nav {
      display: none;
    }

    input[type='checkbox']#show_cons {
      display: none;
    }

    @media (max-width: 640px) {
      flex-direction: column;
      align-items: center;

      .projekt-arguments-nav {
        display: block;
        width: 100%;
        margin-bottom: 20px;

        .projekt-arguments-nav-list {
          list-style: none;
          padding: 0;
          margin: 0;
          display: flex;
          gap: 10px;

          .projekt-arguments-nav-item {
            display: inline-block;

            a {
              text-decoration: none;
              color: #222;
              font-size: 30px;
              font-weight: bold;
            }
          }
        }
      }

      input[type='checkbox']#show_cons {
        &:checked ~ .projekt-arguments.--pro {
          display: none;
        }

        &:not(:checked) ~ .projekt-arguments.--contra {
          display: none;
        }

        &:not(:checked) ~ .projekt-arguments-nav {
          a.pro {
            text-decoration: underline;
            font-weight: bold;
          }

          a.contra {
            text-decoration: none;
            font-weight: normal;
          }
        }

        &:checked ~ .projekt-arguments-nav {
          a.pro {
            text-decoration: none;
            font-weight: normal;
          }

          a.contra {
            text-decoration: underline;
            font-weight: bold;
          }
        }
      }

      .projekt-arguments-title {
        display: none;
      }
    }

    .projekt-arguments-separator {
      border-left: 1px solid #e5e5e5;
      margin: 0 30px;

      @media (max-width: 640px) {
        display: none;
      }
    }

    .projekt-arguments-title {
      font-size: 30px;
      font-weight: bold;
    }

    .projekt-arguments.--pro {
      .projekt-arguments-title {
        text-align: right;
      }
    }

    .projekt-argument {
      border: 1px solid #e5e5e5;
      border-radius: 8px;
      background-color: #fff;
      overflow: hidden;
      max-width: 437px;
      margin-bottom: 24px;

      > * {
        padding: 0 20px;
      }

      .projekt-argument-header {
        background-color: var(--brand-color);
        color: #fff;
        padding-top: 12px;
        padding-bottom: 12px;
        margin-bottom: 12px;
        font-size: 22px;
      }

      .projekt-argument-photo {
        margin-top: 48px;
        margin-bottom: 24px;
      }

      .projekt-argument-position {
        margin-bottom: 12px;
        font-size: 20px;
        font-weight: bold;
        color: #222;
      }

      .projekt-argument-note {
        margin-bottom: 12px;
      }
    }
  }
}
