.new-custom-design {
  .projekts-overview-page {
  }

  .projekts-overview-page--title {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 1;
  }

  .projekts-overview-page--projekts-list {
  }
}

.projekts-overview-page--heading {
  margin-bottom: 30px;
}
