<div class="row">
  <div class="small-12 medium-3 column">
    <div class="proposal-link">
      <% if proposal.draft? %>
        <%= link_to t("layouts.dashboard.proposal_totals.preview_proposal"), proposal_path(proposal), class: "button success expanded", target: "_blank" %>
      <% else %>
        <%= link_to t("layouts.dashboard.proposal_totals.show_proposal"), proposal_path(proposal), class: "button success expanded", target: "_blank" %>
      <% end %>
    </div>
  </div>
</div>

