<div class="row">
  <div class="column">
    <div class="static-subnav">
      <%= link_to "Status", polymorphic_path([@namespace, @budget, @investment]), class: "static-subnav-link #{"current" if action_name == "show"}" %>
      <%= link_to "Gutachter & Administratoren", polymorphic_path([@namespace, @budget, @investment], action: :people), class: "static-subnav-link #{"current" if action_name == "people"}" %>
      <%= link_to "Meilensteine", polymorphic_path([@namespace, @budget, @investment], action: :milestones), class: "static-subnav-link #{"current" if action_name == "milestones"}" %>
      <%= link_to "Änderungslog", polymorphic_path([@namespace, @budget, @investment], action: :audits), class: "static-subnav-link #{"current" if action_name == "audits"}" %>
    </div>
  </div>
</div>
