.projekt-event-item-new {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #dcdcdc;
  padding-top: 25px !important;
  padding-bottom: 25px !important;
  font-size: 16px;
  flex-wrap: nowrap;
  flex-direction: column;

  @media screen and (min-width: 40em) {
    flex-direction: row;
  }
}

.projekt-event-item-new-body {
  flex-grow: 1;
}

.projekt-event-item-new-image {
  min-width: 300px;
  // margin-top: 20px;
  border-radius: 7px;
  overflow: hidden;
}

h2.projekt-event-item-new-body--title {
  font-size: 20px;
  padding-bottom: 0;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0.5rem;

  a {
    color: inherit;
    text-decoration: underline;

    &:hover {
      // text-decoration: underline;
    }
  }
}

.projekt-event-item-new-titles {
  padding-right: 58px;
}

.projekt-event-item-new-calendar {
  color: black;
  width: 80px;
  padding-top: 5px;
  text-align: center;
  margin-right: 35px;
  border-radius: 10px;
  box-shadow: inset 0px 3px 6px #0000000F, 0px 3px 6px #00000024;
  background: transparent linear-gradient(180deg, #FFFFFF 0%, #EDEDED 100%) 0% 0% no-repeat padding-box;
}

.projekt-event-item-new-calendar-column {
  margin-bottom: 20px;
}

.projekt-event-item-new-calendar--separator {
  line-height: 0.5;
}

.projekt-event-item-new-calendar--enddatetime {
  margin-top: -11px
}

.projekt-event-item-new--description-text-wrapper {
  margin-bottom: 20px;
}

.projekt-event-item-new-body--details {

  @media screen and (max-width: 750px) {
    flex-direction: column;
  }
}

.projekt-event-item-new-body--details-row {
  padding-right: 12px;
  margin-bottom: 5px;
  // font-size: 14px;

  a {
    color: inherit;
    word-break: break-all;
    text-decoration: underline;
  }

  i {
    width: 30px;
    // padding-right: 12px;
    font-size: 16px;
  }
}

.projekt-event-item-new-calendar-dayname {
  color: #FF4120;
  font-weight: 500;
  font-size: 18px;
}

.projekt-event-item-new-calendar-daynumber {
  font-size: 42px;
  font-weight: 500;
  margin-top: -14px;
}

.projekt-event-tab-title {
  margin-bottom: 20px;
}
