<% if header.present? %>
  <%header_large = Widget::Card.header.find_by title: "header_large" %>
  <style>
    <%if header_large%>
      .home-page .jumbo{
        background-image: linear-gradient(0deg, 
                            rgba(34, 34, 34, 0.85) 15%, 
                            rgba(34, 34, 34, 0.65) 30%,
                            rgba(34, 34, 34, 0.15) 40%,
                            rgba(34, 34, 34, 0.0)),
                          url("<%=header_large.image.attachment.url%>");
        background-size: cover;
        background-position: center 90%;
      }
    <%end%>
  </style>

  <div class="jumbo not-print">
    <div class='jumbo-message'>
      <p>Herzlich willkommen auf der LOSLAND Vernetzungsplattform!</p>
      <p>Hier können Sie sich in einem geschützten Raum über ihre Beteiligungsprozesse und verwandte Themen austauschen. Eröffnen Sie dafür eine Diskussion und ordnen Sie diese den bestehenden Themenfeldern oder weiteren Themen zu. Sie können bis zu drei Dokumente anfügen und sich in der Folge gegenseitig zu Ihren Beiträgen Feedback geben.</p>
      <p>Viel Spaß und einen spannenden Austausch!</p>
    </div>
  </div>
<% end %>
