<div class='hero-wrapper'>
  <%= video_tag 'https://cli-ush.s3.eu-central-1.amazonaws.com/Versuch5.mp4',
    autoplay: true,
    loop: true,
    muted: true,
    controls: true,
    controlsList: "nodownload nofullscreen noremoteplayback",
    disablepictureinpicture: true  %>
</div>
