<h3 class="title card-title"><%= section_title %></h3>

<div class="row">
  <div class="column">
    <% projekts.each do |projekt| %>
      <%= render "projekt_card", projekt: projekt %>
    <% end %>
  </div>
</div>
