<div class="help-header">
  <div class="row">
    <div class="small-12 medium-9 column" data-magellan>
      <%= image_tag "#{icon}.svg", alt: t("#{i18n_namespace}.icon_alt"), class: "align-top section-icon" %>
      <h1 class="inline-block"><%= t("#{i18n_namespace}.title") %></h1>
    </div>
    <div class="small-12 medium-3 column">
      <%= yield :header_addon %>
    </div>
  </div>
</div>
