<li class="nav-element top-level-item hide-for-small-only">
  <%= link_to '#', id: 'js-main-menu-search-button', class: 'search-items-icon' do %>
    <%= svg_tag 'search-solid', class: "search-icon" %>
  <% end %>
</li>
