<li class="nav-element top-level-item js-access-top-level-menu js-prevent-key-scroll hide-for-small-only"
  <%= "aria-label='#{t('custom.links.menu.search_icon')}'" if placement == 'desktop' %>
  <%= "tabindex=0" if placement == 'desktop' %>
>
  <%= link_to '#', id: 'js-main-menu-search-button', class: 'search-items-icon' do %>
    <span class="icon-search" aria-hidden="true"
         title="<%= t("cli.layouts.header.search_link") %>">
    </span>
  <% end %>
</li>
