.projekt-banner-edit-field-container {
  display: inline-flex;
  max-width: 100%;
  position: relative;

  .projekt-banner-edit-field--controlls {
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    z-index: 2;
  }

  .projekt-banner-edit-field--text-edit-controlls {
    display: none;
    font-size: 20px;
  }

  &.-text-edit-mode {
    .projekt-banner-edit-field--overlay {
      display: block;
    }

    .projekt-banner-edit-field-button {
      display: none;
    }

    .projekt-banner-edit-field--text-edit-controlls {
      display: inline-flex;
      align-items: center;
    }
  }
}

.projekt-banner-edit-field-controlls-button {
  font-size: 20px !important;
  margin: 0 !important;
}

.projekt-banner-edit-field-button {
  margin-left: 5px;
  font-size: 20px !important;
  margin: 0 !important;
}

.projekt-banner-edit-field--controlls {
  margin-left: 15px;
}

.projekt-banner-edit-field--overlay {
  border-radius: 7px;
  background-color: rgba(0, 156, 216, 0.08);
  outline: 1px solid #9bbddb;
  position: absolute;
  display: none;
  top: -5px;
  left: -15px;
  right: -15px;
  bottom: -5px;
  margin: auto;
  transition: 100ms ease background-color;
}

.projekt-banner-edit-field-content {
  max-width: 100%;
  padding-right: 15px;
  z-index: 2;

  > *:focus-visible {
    outline: none;
  }
}
