.projekt-content-block-edit {
  display: flex;
  align-items: center;
  // padding-bottom: 8px;
  min-height: 35px;
  max-height: 35px;
  position: relative;
  gap: 3px;
  /* z-index: 3; */
}

.projekt-content-block-edit--buttons-wrapper {
  margin-right: 5px;
  display: none;
  align-items: center;
}

.projekt-content-block-edit--button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: #004a83;
  background: #d6e7f6;
  border-radius: 7px;
  padding: 7px 8px;
  transition: background-color ease 50ms;

  &:hover {
    background-color: #c3daee;
  }

  &.-green {
    color: #00830e;
    background-color: #dff1e1;

    &:hover {
      background-color: #d5e9d7;
    }
  }

  &.-red {
    color: #dc3545;
    background-color: #f8d7da;

    &:hover {
      background-color: #f5c6cb;
    }
  }

  &.-cancel-state {
    color: #004a83;
    background: #d6e7f6;

    &:hover {
      background-color: #c3daee;
    }
  }

  &:disabled {
    color: #939393;
    cursor: not-allowed;
    background-color: #e4e4e4;

    &:hover {
      background-color: #e4e4e4;
    }
  }

  &.-transparent {
    background-color: transparent;

    &:hover {
      background: #d6e7f6;
    }

    &.-green {

      &:hover {
        background-color: #dff1e1;
      }
    }

    &:disabled {
      &:hover {
        background-color: transparent;
      }
    }
  }

  i {
    margin-right: 5px;
  }
}

.projekt-frame-icon-button-wrapper {
  border-radius: 50%;
}

.projekt-frame-icon-button {
  display: flex !important;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #004a83;
  border-radius: 50%;
  // width: 1.8em;
  // height: 1.8em;
      width: 1.85em;
    height: 1.85em;

  // &:hover:not(:disabled) {
  &:hover {
    background-color: $dt-base-transparent-background-hover;
  }

  &:active {
    background-color: #d2d1d1;
    outline: none;
  }

  &.-delete {
    color: #a41717;

    &:hover {
      background-color: #ffdede;
    }
  }

  &:disabled {
    filter: grayscale(0.1);
    cursor: initial;
    opacity: 0.3;

    &:hover {
      background-color: transparent !important;
      cursor: default !important;
    }
  }
}
