.projekt-footer-phase-tab.-deactivated {
  border-color: transparent;

  .projekt-footer-phase-link {
    opacity: 0.45;
    filter: grayscale(1);
  }
}

.projekt-footer-phase-tab--add-new {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 150px !important;
  font-size: 40px !important;
  color: #b4b4b4;

  &:after {
    display: none;
  }

  i {
    color: #b4b4b4;
  }

  &:hover {
    text-decoration: none;
  }
}

.projekt-phase-move {
  font-size: 18px;
  width: 33px;
  height: 33px;
}
