.projekt-studio--toggle-background-wrapper {
  position: absolute;
  left: 0;
  top: -40px;
  transform: none;
  display: flex;
  align-items: center;
  gap: 10px;

  [aria-pressed] {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0.85em 1em;
    border: 1px solid transparent;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    font-family: inherit;
    line-height: 1;
    cursor: pointer;
    font-size: 16px;
    border-radius: 1.5rem;
    font-weight: bold;
    min-width: 3.5rem;
    width: 3.5rem;
    position: relative;
    color: #fdfdfd;

    &::after {
      background: #fff;
      border-radius: 100%;
      content: "";
      display: block;
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      height: 21px;
      width: 21px;
    }
  }

  [aria-pressed][aria-pressed=true] {
    background: #1779ba;

    &::after {
      right: 0.5em;
    }
  }

  [aria-pressed][aria-pressed=false] {
    background: #747474;

    &::after {
      left: 0.5em;
    }
  }
}

.projekt-studio--toggle-background-label {
  font-size: 17px;
}
