<div id="new-projekt-livestream" class="margin-bottom">
  <h2><%= t("custom.admin.projekt_phases.projekt_livestreams.new.title") %></h2>
  <%= render partial: "custom/admin/projekt_phases/projekt_livestreams/form", locals: { livestream: @projekt_livestream } %> 
</div>
